---
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from "astro:content";
import MdBlogLayout from '../../layouts/MdBlogLayout.astro';
export async function getStaticPaths() {
  const posts: CollectionEntry<"blog">[] = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<MdBlogLayout post={post}>
  <h1>{post.data.title}</h1>
  <Content />
</MdBlogLayout>