*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: dark;
}

html[data-theme='light'] {
    color-scheme: light;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

img {
    font-style: italic;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, code {
    overflow-wrap: anywhere;
}

p {
    text-wrap: pretty;
}

h1, h2 {
    text-wrap: balance;
}

ul[role="list"] {
  list-style-type: none; /* Do <ul role="list">, to use when list is semantic*/
  padding: 0;
}

:has(:target) {
    scroll-padding-top: var(--navbar-height)
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}