---
import Layout from "../../layouts/Layout.astro";
const { tag } = Astro.params;
const { posts } = Astro.props;

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../blog/*.md");

  return [
    { params: { tag: "productivity" }, props: { posts: allPosts } },
    { params: { tag: "learning" }, props: { posts: allPosts } },
    { params: { tag: "book" }, props: { posts: allPosts } },
    { params: { tag: "tool" }, props: { posts: allPosts } },
    { params: { tag: "health" }, props: { posts: allPosts } },
  ];
}
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag),
);
---

<Layout
  title={tag}
  metaDescription="About this tag"
  headerMode="Home"
  ogtype="website"
>
  <div class="main-area">
    <h1>Posts tagged with {tag}</h1>
    <ul>
      {
        filteredPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
<style>
  .main-area {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  a {
    color: var(--color-main-accent);
  }
  h1 {
    font-size: 2.0rem;
    padding: 1.4em;
  }
</style>
