---
import CompactPostsList from "../../components/CompactPostsList.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout
  title={"Tag: " + tag}
  metaDescription={"All posts containing the tag " + tag}
  headerMode="Reduced"
>
  <div class="main-area">
    <h1>Posts tagged with {tag}</h1>
    <CompactPostsList posts={posts} />
  </div>
</Layout>
  <style>
    .main-area {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    li {
      margin-inline: 2em;
    }
    a {
      color: var(--color-main-accent);
    }
    h1 {
      padding: 1.4em;
    }
  </style>
</Layout>
