---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";

const tagCounts = {};
allPosts.forEach(post => {
  if (post.data.tags) {
    post.data.tags.forEach(tag => {
      tagCounts[tag] = (tagCounts[tag] || 0) + 1;
    });
  }
});
---

<Layout
  title={pageTitle}
  metaDescription="Overview of all my topics I write about. See all tags, the tag index."
  headerMode="Blog"
  ogtype="website"
>
  <div class="main-area">
    <h1 class="text-align-center">Tag Index</h1>
    <ul class="list">
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a> ({tagCounts[tag] || 0})
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
<style>
  .main-area {
    height: 80vh;
  }
  .list {
    width: max-content;
    margin-inline: auto;
  }
  h1 {
    margin-top: 1em;
  }
  
</style>
