---
import BaseLayout from "../layouts/BaseLayout.astro";


---
<BaseLayout title="404 - Page not found" description="Site does not exist. Error 404.">
    <div class="flow height-smart-fill-screen">
        <h1 class="text-align-center">404 - Site not found</h1>
        <p>Go back to the <a href="/">home page</a>.</p>
    </div>
</BaseLayout>
<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>