---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="About"
    metaDescription="About BryanHogan.com & Bryan Hogan."
    headerMode="Home"
    ogtype="website"
>
    <p>This page is currently being build.</p>
</Layout>
<style></style>
