---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="About"
    metaDescription="About BryanHogan.com & Bryan Hogan."
    headerMode="Home"
    ogtype="website"
>
    <p>This page is currently being build.</p>
    <section>
        <h1 class="text-align-center">About Me</h1>
        <p>Text here</p>
    </section>
</Layout>
<style></style>
