---
import Layout from "../layouts/Layout.astro";
import TextSectionWithSide from "../layouts/TextSectionWithSide.astro";
import Button from "../components/Button.astro";
import { instagram, linkedin } from "../data/socials.ts";
import { getCollection } from "astro:content";
const allPosts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);

const lastUpdate = Date.now();
---

<Layout
    title="About - Bryan Hogan"
    metaDescription="About BryanHogan.com, Bryan Hogan and Bryan's Blog."
    headerMode="All"
>
    <meta
        property="article:published_time"
        content="2024-05-04T08:52:37Z"
        slot="head"
    />
    <meta
        property="article:modified_time"
        content={new Date(lastUpdate).toISOString()}
        slot="head"
    />
    <div class="gradient-background small-intro-section">
        <div class="text-section text-align-center text-shadow">
            <h1>About</h1>
            <p class="text-align-center" style="margin-inline: auto;">
                About me, Bryan Hogan, and my blog.
            </p>
        </div>
    </div>
    <TextSectionWithSide>
        <h2
            class="text-align-center accent-underline-adjust-width"
            id="about-me"
            slot="h2-title"
        >
            About Me
        </h2>
        <p>
            I'm Bryan Hogan, a (Web) Developer, Digital Creator and Blogger.<br
            />
            Soon to be graduate in <a href="/blog/what-is-coco"
                >Code & Context</a
            >, a modern interdisciplinary B.Sc. study in Cologne that combines
            the fields of computer science, design and entrepreneurship.<br />
        </p>
        <p>
            I have recently spent a year abroad in South Korea, studying at
            different universities. At the beginning of my stay abroad I also
            started with <a href="/blog">BryanHogan.com/blog</a>, a place for me
            to share all the things I would have loved to know about before I
            knew about them.<br />Check out my latest post titled: "<a
                href={`/blog/${allPosts[0].slug}/`}>{allPosts[0].data.title}</a
            >". More on my blog down below.
        </p>
        <p>
            I also run a <a href="/follow">monthly newsletter</a> called "Bryan's
            Briefing" since the beginning of 2024 in which I share what I'm up to,
            cool insights I've recently had and other amazing content I came across.
        </p>
        <p>
            Like described on my <a href="/now">Now page</a>, I'm currently
            working on <a href="https://tolearnkorean.com/" target="_blank"
                >ToLearnKorean.com</a
            > and <a href="https://webdev.bryanhogan.com/" target="_blank"
                >WebDev.BryanHogan.com</a
            > in addition to working as a Software Developer at DGS (smaller company
            in Germany) and <a href="/blog/coco-final-dev-diary"
                >writing my bachelor thesis</a
            > in the space of building an app to support you in journaling and improving
            your health and wellbeing.
        </p>
        <p>
            I've got a more career focussed introduction of myself on my <a
                href="/portfolio">portfolio page</a
            >.
        </p>
        <nav slot="aside-content">
            <Button
                text="Instagram"
                link={instagram.href}
                buttonStyle="transparent-bright small grow color-accent"
                targetText="_blank"
            />
            <Button
                text="LinkedIn"
                link={linkedin.href}
                buttonStyle="transparent-bright small grow color-accent"
                targetText="_blank"
            />
        </nav>
    </TextSectionWithSide>
    <TextSectionWithSide>
        <h2
            class="text-align-center accent-underline-adjust-width"
            id="about-blog"
            slot="h2-title"
        >
            About My Blog
        </h2>
        <p>
            In my blog "Bryan's Blog" I engage with topics that interest me, all
            with the aim to also help you. From health-related topics such as
            understanding sleep, to sharing cultural insights and achieving
            personal goals. I want to share my journey and learn alongside
            others.
        </p>
        <p><strong>What I Value & How I Think:</strong></p>
        <ul>
            <li>
                🌱 - There's special meaning in building a great future for
                yourself and others.
            </li>
            <li>❤️ - To life happily in the future you need to be healthy.</li>
            <li>
                ⏳ - To achieve ambitious goals some things need to be improved,
                productivity can sometimes help with that.
            </li>
            <li>
                📣 - There's already amazing content out there, and I'm eager to
                share it.
            </li>
            <li>
                ⚙️ - Modern thinking and building requires some technology. I
                also just love building digital experiences.
            </li>
        </ul>
        <p><strong>My favorite tags:</strong></p>
        <ul>
            <li>
                <a href="/tags/learning">Learning</a> - About language learning,
                acquiring skills, educational content and getting better at learning
                itself.
            </li>
            <li>
                <a href="/tags/korea">Korea</a> - I studied one year abroad in South
                Korea. Exploring Korea was fascinating. I was able to experience
                many new things, it was very different to the life I had Germany
                and I loved that. I also made some great memories.
            </li>
            <li>
                <a href="/tags/development">Development</a> - About developing in
                the web and more. Started creating artifacts in Code & Context and
                have loved it ever since.
            </li>
        </ul>
        <nav slot="aside-content">
            <Button
                text="Start Reading"
                link="/blog"
                buttonStyle="transparent-bright small grow color-accent"
            />
        </nav>
        <p>
            <small class="subtle-text">
                This website was last updated on <time
                    datetime={new Date(lastUpdate).toISOString()}
                >
                    {new Date(lastUpdate).toLocaleDateString("en-GB")}.
                </time>
            </small>
        </p>
    </TextSectionWithSide>
</Layout>
<style></style>
