---
var allPosts = await Astro.glob("../pages/blog/*.md");
allPosts = allPosts.sort((a, b) => {
  let dateA =
    a.frontmatter && a.frontmatter.pubDate
      ? new Date(a.frontmatter.pubDate)
      : new Date(0);
  let dateB =
    b.frontmatter && b.frontmatter.pubDate
      ? new Date(b.frontmatter.pubDate)
      : new Date(0);
  return dateB.getTime() - dateA.getTime();
});

import Button from "../components/Button.astro";
import CardB from "../components/CardB.astro";
import CompactPostsList from "../components/CompactPostsList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Bryan's Blog"
  headerMode="Blog"
  metaDescription="Bryan Hogan's Blog. All about learning, creating and finding balance."
  ogtype="website"
>
  <h1 class="text-align-center">Blog Posts</h1>
  <CompactPostsList posts={allPosts} />
</Layout>

<style>
  h1 {
    margin-top: 1em;
  }

</style>
