---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import type { CollectionEntry } from "astro:content";
import Hero from "../components/Hero.astro";
const posts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title="Bryan's Blog Compact View" description="All blog posts but in a compact view instead.">
    <Hero h1="Blog Compact" subtitle="Compact View"/>
    <h2 class="text-align-center margin-top-xl">All blog posts in a compact view</h2>
    <p class="text-align-center margin-top-m"><a href="/blog">To standard view</a></p>
    <ul class="blog-posts-container margin-top-l margin-bottom-xl set-main-content-max-width">
        {
            posts.map((post) => (
                <li><p><a href={`/blog/${post.id}`}>{post.data.title}</a> - {post.data.description}</p></li>
            ))
        }
    </ul>
</BaseLayout>

<style>
    .blog-posts-container {
        margin-inline: auto;
        li:not(:last-child) {
            margin-bottom: var(--space-s);
        }
    }
</style>