---
const pageTtitle = "Blog Page";

const newsletterReminder = true;
const allPosts = await Astro.glob('../pages/blog/*.md');

import Header from "../components/Header.astro"
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTtitle}</title>
  </head>

  <body>
    <Header/>
    <h1>{pageTtitle}</h1>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h2>My Astro Learning Blog</h2>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    {newsletterReminder && <p>I have newsletter going containing more info about my posts, exclusive content and more that mails you like every 2 months.</p>}
  </body>
</html>