---
import ButtondownSignupForm from "../components/ButtondownSignupForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Bryan's Mailing List"
    headerMode="Reduced"
    metaDescription="Join Bryan's Briefing, my monthly mailing list to receive updates on my life and other cool things."
>
    <section class="gradient-background">
        <div class="dark-back">
            <ButtondownSignupForm />
        </div>
    </section>
    
</Layout>
<style>
    .dark-back {
        background-color: var(--color-main-dark-transparent-20);
        border-radius: 1em;
        margin-inline: auto;
        width: 90%;
        max-width: 550px;
        height: min-content;
    }
    .gradient-background {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
