---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import HeroMainContentStandard from "../components/HeroMainContentStandard.astro";
import Hero from "../layouts/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <Hero>
    <HeroMainContentStandard />
    <div class="second-main-content-group">
      <nav class="navigation-main">
        <Button
          text="Blog"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
        <Button
          text="Mailing"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
        <Button
          text="Portfolio"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
      </nav>
    </div>
  </Hero>
  <section class="text-section standard-text">
    <h2>About</h2>
    <p>
      I am Bryan Hogan and currently working on completing my Bachelor of
      Science in the study Code & Context at TH Köln. Code & Context is an
      interdisciplinary course ranging from Coding & Design to Entrepreneurship.
      Furthermore, I am currently involved in other projects and, through
      experiences, I improve my skills and abilities everyday.
    </p>
    <p>Currently living in Seoul.</p>
    <h3>Additional Information</h3>
    <p>Short example text so I can fill this up.</p>
    <h2>New Topic</h2>
    <p>
      sign to Entrepreneurship. Furthermore, I am currently involved in other
      projects and, through experiences, I improve my skills and abilities
      everyday.
    </p>
  </section>
  <section>
    <h2>About</h2>
    <p>
      I am Bryan Hogan and currently working on completing my Bachelor of
      Science in the study Code & Context at TH Köln. Code & Context is an
      interdisciplinary course ranging from Coding & Design to Entrepreneurship.
      Furthermore, I am currently involved in other projects and, through
      experiences, I improve my skills and abilities everyday.
    </p>
    <p>Currently living in Seoul.</p>
  </section>
</Layout>

<style>
  
  .second-main-content-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .navigation-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6%;
    max-width: 1050px;
    width: 100%;
    & a {
      color: var(--color-main-bright);
      font-size: 1.1rem;
      width: 200px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1rem;
      border: 2px solid var(--color-main-bright);
      border-radius: 15px;
      background-color: #20212410;
    }
  }
</style>
