---
import Layout from "../layouts/Layout.astro";
import HeroLayout from "../layouts/HeroLayout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Bryan Hogan's Portfolio">
    <main>
  <Header mode="Home" />
  <HeroLayout>
    <div class="button-group">
      <!-- <Button
        link=""
        text="Blog"
        targetText=""
        buttonStyle="transparent-bright large inset-dark-shadow"
      /> -->
      <Button
        link="./portfolio"
        text="Portfolio"
        targetText=""
        buttonStyle="transparent-bright large inset-dark-shadow"
      />
      <!-- <Button
        link="./portfolio"
        text="Newsletter"
        targetText=""
        buttonStyle="transparent-bright large inset-dark-shadow"
      /> -->
    </div>
  </HeroLayout>
</main>
<Footer />
</Layout>

<style>
    .button-group {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
</style>