---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="Bryan Hogan"
	description="I'm Bryan Hogan, a Web Developer, Digital Creator and Blogger. Welcome to my personal page for you."
>
	<section>
		
	</section>
</BaseLayout>

<style></style>
