---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import HeroMainContent from "../components/HeroMainContent.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <div class="hero-container">
    <HeroMainContent />
    <div class="second-main-content-group">
      <nav class="navigation-main">
        <Button
          text="Blog"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
        <Button
          text="Mailing"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
        <Button
          text="Portfolio"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
      </nav>
    </div>
  </div>

  <Button text="Test" buttonStyle="dark small grow" />
  <Button
    text="Blog"
    link="./#"
    buttonStyle="transparent-bright large inset-bright-shadow"
  />
  <Button
    text="Test"
    link="./#"
    buttonStyle="transparent-bright-border large inset-bright-shadow"
  />
  <Button
    text="Test"
    link="./#"
    buttonStyle="transparent-bright-border small inset-bright-shadow"
  />
  <Button
    text="Another One"
    link="./#"
    buttonStyle="transparent-bright-border small inset-bright-shadow"
  />
  <section></section>
</Layout>

<style>
  .hero-container {
    width: 100%;
    min-height: 550px;
    background-color: #767fd1;
    background-image: linear-gradient(
      140deg,
      #af81cd,
      #767fd1,
      #8fb8cd,
      #32ccdf
    );
  }
  
  .second-main-content-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .navigation-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6%;
    max-width: 1050px;
    width: 100%;
    & a {
      color: var(--color-main-bright);
      font-size: 1.1rem;
      width: 200px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1rem;
      border: 2px solid var(--color-main-bright);
      border-radius: 15px;
      background-color: #20212410;
    }
  }
</style>
