---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import FocusedContentGroup from "../components/FocusedContentGroup.astro";
import HeroLayout from "../layouts/HeroLayout.astro";
import CommonSectionWithSide from "../components/CommonSectionWithSide.astro";
import TextElementBorderTopOpen from "../layouts/TextElementBorderTopOpen.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <HeroLayout>
    <FocusedContentGroup />
  </HeroLayout>
  <CommonSectionWithSide />
  <section>
    <h2 class="text-align-center" style="margin-bottom: var(--small-gap);">
      Projects
    </h2>
    <div class="card-gallery">
      <Card
        headerText="Code & Context"
        descriptionText={[
          "Engaged in studying Code & Design to skillfully craft valuable artifacts and establish thriving businesses.",
          "Actively learning through hands-on experiences and exploring diverse fields. From helping people who take medicine regularly to creating SaaS solutions where we blend social media and real-world interaction for restaurants.",
        ]}
        listPoints={["CoCo's Official Website"]}
      />
      <Card
        headerText="AI"
        descriptionText={[
          "Created an artificial intelligence trained to recognise numbers and able to adjust its recognition. It's able to learn letters and numbers. Made with TensorFlow and trained with MNIST data.",
          "Group project by: Timo Küsters, Matthias Zens and Bryan Hogan within a course held by Prof. Christian Faubel.",
        ]}
        listPoints={["See The Project Here"]}
      />
      <Card
        headerText="Volt"
        descriptionText={[
          "During the last German federal election in 2021 I did Social Media management for Volt's top candidates.",
          "Volt is a pro-European party found in all EU member states and more.",
        ]}
        listPoints={["Volt's Official Website"]}
      />
      <Card
        headerText="Hanyang"
        descriptionText={[
          "Went abroad to South Korea to study at Hanyang University erica campus for the spring semester of 2023.",
          "My courses included UX Design where we worked together with the government of Ansan, Sports Physiology, Game Design, Visual Communication and Korean Language.",
        ]}
        listPoints={["Hanyang University's Official Website"]}
      />
      <Card
        headerText="University of Seoul"
        descriptionText={[
          "Currently studying at University of Seoul for fall semester 2023.",
          "Courses include business and Korean language related topics. For the business side I am engaged in classes such as Global Startup, Global Business, Special Issues in Entrepreneurship & Innovation and Global Marketing Management. ",
        ]}
        listPoints={["University of Seoul's Official Website"]}
      />
      <Card
        headerText="Online Marketing At Handon"
        descriptionText={[
          "Worked at Handon dressed to sell GmbH, where I handled online marketing and various smaller technical tasks.",
        ]}
        listPoints={["Handon's Official Website"]}
      />
    </div>
  </section>
  <section>
    <h2 class="text-align-center">Skills</h2>
    <ul class="skills-list">
      <li>
        <img
          src="../logos/Davinci-Resolve-Logo.svg"
          alt="Light only logo of Davinci Resolve"
        />
      </li>
      <li>
        <img
          src="../logos/Affinity-Logo.svg"
          alt="Light only logo of Affinity"
        />
      </li>
      <li>
        <img
          src="../logos/Aseprite-Logo.svg"
          alt="Light only logo of Aseprite"
        />
      </li>
      <li>
        <img src="../logos/Figma-Logo.svg" alt="Light only logo of Figma" />
      </li>
      <li>
        <img src="../logos/HTML-Logo.svg" alt="Light only logo of HTML 5" />
      </li>
      <li><img src="../logos/CSS-Logo.svg" alt="Light only logo of CSS" /></li>
      <li>
        <img
          src="../logos/Typescript-Logo.svg"
          alt="Light only logo of Typescript"
        />
      </li>
      <li>
        <img src="../logos/Astro-Logo.svg" alt="Light only logo of Astro" />
      </li>
      <li><img src="../logos/Postcss-Logo.svg" /></li>
      <li><img src="../logos/Git-Logo.svg" /></li>
      <li><img src="../logos/Github-Logo.svg" /></li>
      <li><img src="../logos/Java-Logo.svg" /></li>
      <li><img src="../logos/Obsidian-Logo.svg" /></li>
      <li><img src="../logos/Notion-Logo.svg" /></li>
      <li><img src="../logos/Google-Sheets-Logo.svg" /></li>
    </ul>
  </section>
  <section
    class="gradient-background-darker text-section text-align-center contact-section"
    id="contact"
  >
    <h2 class="text-shadow">Contact</h2>
    <div class="form-container">
      <p class="text-shadow"><em>Reach out to me here</em></p>
      <form action="https://formspree.io/f/xyyovedd" method="POST">
        <label>
          <input type="email" name="email" placeholder="Your email" required />
        </label>
        <label>
          <textarea name="message" placeholder="Your message" required
          ></textarea>
        </label>
        <button class="button-white" type="submit">Send</button>
      </form>
    </div>
    <contact>
      <p class="location-container text-shadow">
        <s>Germany, Cologne</s><br />South Korea, Seoul
      </p>
      <p class="text-shadow mail-adress"><strong>BryanHogan@gmx.net</strong></p>
    </contact>
  </section>
</Layout>

<style>
  contact {
    & p {
      padding: 10px;
    }
    & .location-container::before {
      content: url(../icons/Map-Pin-Icon.svg);
      position: absolute;
      transform: translateX(-40px);
    }
    & .mail-adress::before {
      content: url(../icons/Mail-Icon.svg);
      position: absolute;
      transform: translateX(-40px);
    }
  }
  #contact {
    & .form-container {
      margin-inline: 15px;
    }
    & form {
      display: flex;
      flex-direction: column;
      margin: 30px;
      padding: 60px 20px;
      background-color: #2021241f;
      border: 1px solid var(--color-main-accent);
      max-width: 550px;
      margin-inline: auto;
      border-radius: 1em;
    }
    & label {
      padding-block: 1em;
    }
    & input,
    textarea {
      width: 80%;
      border: 2px solid var(--color-main-bright);
      border-radius: 5px;
      padding: 4px;
    }
    & input {
      font-size: 1.2rem;
    }
    & textarea {
      height: 90px;
    }
    & button {
      color: var(--color-main-dark);
      background-color: #fff;
      border: 2px solid var(--color-main-accent);
      border-radius: 10px;
      box-shadow: var(--box-shadow-medium);
      width: 30%;
      font-size: 1rem;
      padding: 10px;
      margin-inline: auto;
      transition: all 200ms linear;
      box-shadow: var(--box-shadow-large),
        inset 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25),
          inset var(--box-shadow-large);
        text-shadow: var(--text-shadow-inset);
      }
    }
  }
  .skills-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    margin-inline: auto;
    & li {
      height: 80px;
      width: 80px;
      background-color: var(--color-main-dark-brighter);
      border-radius: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
    }
    & img {
      min-width: 40px;
      opacity: 0.8;
      transition: opacity 100ms;
    }
    & li:hover img {
      opacity: 1;
    }
  }
  .second-main-content-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .navigation-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6%;
    max-width: 1050px;
    width: 100%;
    & a {
      color: var(--color-main-bright);
      font-size: 1.1rem;
      width: 200px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1rem;
      border: 2px solid var(--color-main-bright);
      border-radius: 15px;
      background-color: #20212410;
    }
  }
  .card-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 699px) {
  }
  @media only screen and (max-width: 699px) {
    .skills-list {
      max-width: 100%;
    }
  }
</style>
