---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import HeroMainContentStandard from "../components/HeroMainContentStandard.astro";
import Hero from "../layouts/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <Hero>
    <HeroMainContentStandard />
    <div class="second-main-content-group">
      <nav class="navigation-main">
        <Button
          text="Blog"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
        <Button
          text="Mailing"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
        <Button
          text="Portfolio"
          link="./#"
          buttonStyle="transparent-bright large inset-dark-shadow"
        />
      </nav>
    </div>
  </Hero>

  <Button text="Test" buttonStyle="dark small grow" />
  <Button
    text="Blog"
    link="./#"
    buttonStyle="transparent-bright large inset-bright-shadow"
  />
  <Button
    text="Test"
    link="./#"
    buttonStyle="transparent-bright-border large inset-bright-shadow"
  />
  <Button
    text="Test"
    link="./#"
    buttonStyle="transparent-bright-border small inset-bright-shadow"
  />
  <Button
    text="Another One"
    link="./#"
    buttonStyle="transparent-bright-border small inset-bright-shadow"
  />
  <section></section>
</Layout>

<style>
  .second-main-content-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .navigation-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6%;
    max-width: 1050px;
    width: 100%;
    & a {
      color: var(--color-main-bright);
      font-size: 1.1rem;
      width: 200px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1rem;
      border: 2px solid var(--color-main-bright);
      border-radius: 15px;
      background-color: #20212410;
    }
  }
</style>
