---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import FocusedContentGroup from "../components/FocusedContentGroup.astro";
import HeroLayout from "../layouts/HeroLayout.astro";
import CommonSectionWithSide from "../components/CommonSectionWithSide.astro";
import TextElementBorderTopOpen from "../layouts/TextElementBorderTopOpen.astro";
import FullWidthSectionLayout from "../layouts/FullWidthSectionLayout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <HeroLayout>
    <FocusedContentGroup />
  </HeroLayout>
  <CommonSectionWithSide />
  <FullWidthSectionLayout>
    <div class="card-gallery">
      <Card />
      <Card />
    </div>
  </FullWidthSectionLayout>
</Layout>

<style>
  .second-main-content-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .navigation-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6%;
    max-width: 1050px;
    width: 100%;
    & a {
      color: var(--color-main-bright);
      font-size: 1.1rem;
      width: 200px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1rem;
      border: 2px solid var(--color-main-bright);
      border-radius: 15px;
      background-color: #20212410;
    }
  }
  .card-gallery {
    display: grid;
    gap: 4%;
  }
</style>
