---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout
  title="Bryan Hogan"
  metaDescription="Bryan Hogan's site. Bryan's Blog, newsletter, portfolio and more."
  headerMode="Home"
  ogtype="website"
  >
  <section class="intro">
  <div class="intro-section">
    <div class="header-picture-section">
      <h1>Hi, I'm<br />Bryan Hogan.</h1>
      <picture>
        <source
          type="image/avif"
          srcset="../images/Bryan-Hogan-Smiling.avif"
        />
        <source
          type="image/webp"
          srcset="../images/Bryan-Hogan-Smiling.webp"
        />
        <img
          src="../images/Bryan-Hogan-Smiling.png"
          width="363"
          height="359"
          alt="Bryan Hogan smiling"
          decoding="async"
        />
      </picture>
    </div>
    <p>On this page you can find my <a href="./blog">blog</a>, <a href="./follow">mail newsletter</a> and <a href="./portfolio">portfolio</a>.</p>
  </div>
    <div class="button-group">
      <Button
        link="/blog"
        text="Blog"
        targetText=""
        buttonStyle="gradient large grow"
      />
      <Button
        link="/follow"
        text="Follow"
        targetText=""
        buttonStyle="bright large grow"
      />
      <Button
        link="/portfolio"
        text="Portfolio"
        targetText=""
        buttonStyle="bright large grow"
      />
    </div>
  </section>
</Layout>

<style>
  .intro {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section {
    padding: 0px;
    margin: 0px;
  }
  .intro-section {
    min-height: 40vh;
    max-width: 550px;
    margin-inline: auto;
    padding-inline: 1em;
    padding-top: 2em;
    & img {
      height: auto;
      width: 130px;
      margin: 0.2em;
    }
  }
  .header-picture-section {
    display: flex;
    flex-direction: column-reverse;
  }
  img {
    height: auto;
    width: 130px;
    margin: 1em;
  }
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 699px) {
    .intro-section {
      & img {
        margin-inline: auto;
      }
    }
  }
  @media only screen and (min-width: 700px) {
    .button-group {
      flex-direction: row;
    }
    .intro-section {
    }
    .header-picture-section {
      flex-direction: row;
    }
  }
</style>
