---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "../styles/main.css"
---

<Layout title="Welcome to Astro.">
    <div class="hero-container">
        <div class="hero-main-content">
            <div class="hero-description">
                <h1 class="text-align-center">Heading</h1>
                <p class="text-align-center">I am Bryan Hogan.</p>
            </div>
            <div class="hero-image">
                <picture>
                    <source type="image/avif" srcset=".\images\bryan_small.avif 1000w, .\images\bryan_large.avif 1500w">
                    <source type="image/webp" srcset=".\images\bryan_small.webp 1000w, .\images\bryan_large.webp 1500w">
                    <img src=".\images\bryan_small.png" width="220" height="auto"
                        alt="Professional business photo of bryan hogan" loading="lazy" decoding="async">
                </picture>
            </div>
        </div>
    </div>
    <section class="standard-grid-section-container">
        <div class="standard-grid-section-main-header-content">
            <h1 class="text-align-center">Who Am I?</h1>
        </div>
        <div class="standard-grid-section-main-content">
            <p>My name is Bryan Hogan. I am a developer, marketer, designer and more.</p>
        </div>
        <div class="standard-grid-section-side-content">
            <p>Page A</p>
            <p>Page B</p>
            <li><a href="/content/test/">Post 1</a></li>
        </div>
    </section>
</Layout>

<style>
</style>
