---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Bryan Hogan" metaDescription="Bryan Hogan's site. Bryan's Blog, newsletter, portfolio and more." headerMode="Home" ogtype="website">
  <section class="">
    <div class="button-group">
      <Button
        link="/blog"
        text="Blog"
        targetText=""
        buttonStyle="bright large grow"
      />
      <Button
        link="/follow"
        text="Follow"
        targetText=""
        buttonStyle="bright large grow"
      />
      <Button
        link="/portfolio"
        text="Portfolio"
        targetText=""
        buttonStyle="bright large grow"
      />
    </div>
  </section>
</Layout>

<style>
    .button-group {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    @media only screen and (min-width: 1050px) {
      .button-group {
        flex-direction: row;
      }
    }
</style>