---
import Layout from "../layouts/Layout.astro";
import TextSectionWithSide from "../layouts/TextSectionWithSide.astro";
import Button from "../components/Button.astro";
import { instagram, linkedin } from "../data/socials";
---

<Layout
    title="Bryan Hogan - Now"
    metaDescription="About BryanHogan.com & Bryan Hogan."
    headerMode="All"
>
    <div class="gradient-background small-intro-section" style="">
        <div class="text-section text-align-center text-shadow">
            <h1>Now</h1>
            <p class="text-align-center" style="margin-inline: auto;">
                Last updated on 14th March,<br />from my home in Cologne.
            </p>
        </div>
    </div>
    <TextSectionWithSide>
        <h2
            class="text-align-center accent-underline-adjust-width"
            id="doing-now"
            slot="h2-title"
        >
            What am I doing now?
        </h2>
        <ul>
            <li>
                <strong>Soon starting with my bachelor thesis</strong>. To
                finish my <a href="./blog/what-is-coco">Code & Context B.Sc. studies</a> I have to complete a final
                project and then write my bachelor thesis.
            </li>
            <li>
                <strong>Working as a Software Developer.</strong> Started work as a software developer at a smaller company.
            </li>
            <li><strong>Blog.</strong> Writing more content for my blog.</li>
            <li><strong>ToLearnKorean.com.</strong> Making a website for other Korean learners from the ground up and sharing my experience on the new Twitters.</li>
        </ul>
        <nav slot="aside-content">
            <Button
                text="Blog"
                link="/blog"
                buttonStyle="transparent-bright small grow color-accent"
            />
        </nav>
    </TextSectionWithSide>
</Layout>
<style></style>
