---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy" headerMode="Home" metaDescription="Privacy statement">
    <h1>Datenschutzerklärung</h1>
    <p>Stand: 28. August 2023</p><h2>Inhaltsübersicht</h2>
    <ul class="index">
        <li><a class="index-link" href="#m3">Verantwortlicher</a></li><li>
            <a class="index-link" href="#mOverview"
                >Übersicht der Verarbeitungen</a>
        </li><li>
            <a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a>
        </li><li>
            <a class="index-link" href="#m27">Sicherheitsmaßnahmen</a>
        </li><li>
            <a class="index-link" href="#m25"
                >Übermittlung von personenbezogenen Daten</a>
        </li><li>
            <a class="index-link" href="#m24">Internationale Datentransfers</a>
        </li><li>
            <a class="index-link" href="#m10"
                >Rechte der betroffenen Personen</a>
        </li><li>
            <a class="index-link" href="#m225"
                >Bereitstellung des Onlineangebotes und Webhosting</a>
        </li><li>
            <a class="index-link" href="#m104">Blogs und Publikationsmedien</a>
        </li><li>
            <a class="index-link" href="#m182"
                >Kontakt- und Anfragenverwaltung</a>
        </li><li>
            <a class="index-link" href="#m17"
                >Newsletter und elektronische Benachrichtigungen</a>
        </li><li>
            <a class="index-link" href="#m638"
                >Werbliche Kommunikation via E-Mail, Post, Fax oder Telefon</a>
        </li><li>
            <a class="index-link" href="#m136"
                >Präsenzen in sozialen Netzwerken (Social Media)</a>
        </li>
    </ul><h2 id="m3">Verantwortlicher</h2><p>
        Bryan Hogan<br />Schanzenstraße 28, 51063 Köln, Deutschland
    </p>
    E-Mail-Adresse: <p>
        <a href="mailto:Bryan@BryanHogan.com">Bryan@BryanHogan.com</a>
    </p>
    Impressum: <p>bryanhogan.com/privacy</p>

    <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2><p>
        <strong>Maßgebliche Rechtsgrundlagen nach der DSGVO:</strong>Im
        Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO,
        auf deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie
        zur Kenntnis, dass neben den Regelungen der DSGVO nationale
        Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten
        können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen
        maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.
    </p>
    <ul>
        <li>
            <strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO)</strong> - Die
            betroffene Person hat ihre Einwilligung in die Verarbeitung der sie betreffenden
            personenbezogenen Daten für einen spezifischen Zweck oder mehrere bestimmte
            Zwecke gegeben.
        </li><li>
            <strong
                >Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong
            > - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des
            Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen
            oder Grundrechte und Grundfreiheiten der betroffenen Person, die den
            Schutz personenbezogener Daten erfordern, überwiegen.
        </li>
    </ul><p>
        <strong
            >Nationale Datenschutzregelungen in Deutschland:
        </strong>Zusätzlich zu den Datenschutzregelungen der DSGVO gelten
        nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört
        insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener
        Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das
        BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum
        Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer
        Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke
        und zur Übermittlung sowie automatisierten Entscheidungsfindung im
        Einzelfall einschließlich Profiling. Ferner können
        Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung
        gelangen.
    </p>
    <p>
        <strong>Hinweis auf Geltung DSGVO und Schweizer DSG:</strong>Diese
        Datenschutzhinweise dienen sowohl der Informationserteilung nach dem
        schweizerischen Bundesgesetz über den Datenschutz (Schweizer DSG) als
        auch nach der Datenschutzgrundverordnung (DSGVO). Aus diesem Grund
        bitten wir Sie zu beachten, dass aufgrund der breiteren räumlichen
        Anwendung und Verständlichkeit die Begriffe der DSGVO verwendet werden.
        Insbesondere statt der im Schweizer DSG verwendeten Begriffe
        „Bearbeitung“ von „Personendaten“, "überwiegendes Interesse" und
        "besonders schützenswerte Personendaten" werden die in der DSGVO
        verwendeten Begriffe „Verarbeitung“ von „personenbezogenen Daten“ sowie
        "berechtigtes Interesse" und "besondere Kategorien von Daten" verwendet.
        Die gesetzliche Bedeutung der Begriffe wird jedoch im Rahmen der Geltung
        des Schweizer DSG weiterhin nach dem Schweizer DSG bestimmt.
    </p>

    <h2 id="mOverview">Übersicht der Verarbeitungen</h2><p>
        Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und
        die Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen
        Personen.
    </p><h3>Arten der verarbeiteten Daten</h3>
    <ul>
        <li>Bestandsdaten.</li><li>Kontaktdaten.</li><li>Inhaltsdaten.</li><li>
            Nutzungsdaten.
        </li><li>Meta-, Kommunikations- und Verfahrensdaten.</li>
    </ul><h3>Kategorien betroffener Personen</h3><ul>
        <li>Kommunikationspartner.</li><li>Nutzer.</li>
    </ul><h3>Zwecke der Verarbeitung</h3><ul>
        <li>
            Erbringung vertraglicher Leistungen und Erfüllung vertraglicher
            Pflichten.
        </li><li>Kontaktanfragen und Kommunikation.</li><li>
            Direktmarketing.
        </li><li>Verwaltung und Beantwortung von Anfragen.</li><li>
            Feedback.
        </li><li>Marketing.</li><li>
            Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
        </li><li>Informationstechnische Infrastruktur.</li>
    </ul><h2 id="m27">Sicherheitsmaßnahmen</h2><p>
        Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter
        Berücksichtigung des Stands der Technik, der Implementierungskosten und
        der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie
        der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der
        Bedrohung der Rechte und Freiheiten natürlicher Personen geeignete
        technische und organisatorische Maßnahmen, um ein dem Risiko
        angemessenes Schutzniveau zu gewährleisten.
    </p>
    <p>
        Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit,
        Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen
        und elektronischen Zugangs zu den Daten als auch des sie betreffenden
        Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit
        und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die
        eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und
        Reaktionen auf die Gefährdung der Daten gewährleisten. Ferner
        berücksichtigen wir den Schutz personenbezogener Daten bereits bei der
        Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren
        entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und
        durch datenschutzfreundliche Voreinstellungen.
    </p>

    <h2 id="m25">Übermittlung von personenbezogenen Daten</h2><p>
        Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor,
        dass die Daten an andere Stellen, Unternehmen, rechtlich selbstständige
        Organisationseinheiten oder Personen übermittelt oder sie ihnen
        gegenüber offengelegt werden. Zu den Empfängern dieser Daten können z.B.
        mit IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und
        Inhalten, die in eine Webseite eingebunden werden, gehören. In solchen
        Fällen beachten wir die gesetzlichen Vorgaben und schließen insbesondere
        entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer Daten
        dienen, mit den Empfängern Ihrer Daten ab.
    </p>

    <h2 id="m24">Internationale Datentransfers</h2><p>
        Datenverarbeitung in Drittländern: Sofern wir Daten in einem Drittland
        (d.h., außerhalb der Europäischen Union (EU), des Europäischen
        Wirtschaftsraums (EWR)) verarbeiten oder die Verarbeitung im Rahmen der
        Inanspruchnahme von Diensten Dritter oder der Offenlegung bzw.
        Übermittlung von Daten an andere Personen, Stellen oder Unternehmen
        stattfindet, erfolgt dies nur im Einklang mit den gesetzlichen Vorgaben.
        Sofern das Datenschutzniveau in dem Drittland mittels eines
        Angemessenheitsbeschlusses anerkannt wurde (Art. 45 DSGVO), dient dieser
        als Grundlage des Datentransfers. Im Übrigen erfolgen Datentransfers nur
        dann, wenn das Datenschutzniveau anderweitig gesichert ist, insbesondere
        durch Standardvertragsklauseln (Art. 46 Abs. 2 lit. c) DSGVO),
        ausdrückliche Einwilligung oder im Fall vertraglicher oder gesetzlich
        erforderlicher Übermittlung (Art. 49 Abs. 1 DSGVO). Im Übrigen teilen
        wir Ihnen die Grundlagen der Drittlandübermittlung bei den einzelnen
        Anbietern aus dem Drittland mit, wobei die Angemesenheitsbeschlüsse als
        Grundlagen vorrangig gelten. Informationen zu Drittlandtransfers und
        vorliegenden Angemessenheitsbeschlüssen können dem Informationsangebot
        der EU-Kommission entnommen werden: <a
            href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de"
            target="_blank"
            >https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_de.</a>
    </p>
    <p>
        EU-US Trans-Atlantic Data Privacy Framework: Im Rahmen des sogenannten
        „Data Privacy Framework” (DPF) hat die EU-Kommission das
        Datenschutzniveau ebenfalls für bestimmte Unternehmen aus den USA im
        Rahmen der Angemessenheitsbeschlusses vom 10.07.2023 als sicher
        anerkannt. Die Liste der zertifizierten Unternehmen als auch weitere
        Informationen zu dem DPF können Sie der Webseite des Handelsministeriums
        der USA unter <a
            href="https://www.dataprivacyframework.gov/"
            target="_blank">https://www.dataprivacyframework.gov/</a
        > (in Englisch) entnehmen. Wir informieren Sie im Rahmen der Datenschutzhinweise
        welche von uns eingesetzten Diensteanbieter unter dem Data Privacy Framework
        zertifiziert sind.
    </p>

    <h2 id="m10">Rechte der betroffenen Personen</h2><p>
        Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als
        Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere
        aus Art. 15 bis 21 DSGVO ergeben:
    </p><ul>
        <li>
            <strong
                >Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich
                aus Ihrer besonderen Situation ergeben, jederzeit gegen die
                Verarbeitung der Sie betreffenden personenbezogenen Daten, die
                aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt,
                Widerspruch einzulegen; dies gilt auch für ein auf diese
                Bestimmungen gestütztes Profiling. Werden die Sie betreffenden
                personenbezogenen Daten verarbeitet, um Direktwerbung zu
                betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die
                Verarbeitung der Sie betreffenden personenbezogenen Daten zum
                Zwecke derartiger Werbung einzulegen; dies gilt auch für das
                Profiling, soweit es mit solcher Direktwerbung in Verbindung
                steht.</strong>
        </li><li>
            <strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht,
            erteilte Einwilligungen jederzeit zu widerrufen.
        </li><li>
            <strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung
            darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf
            Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
            Daten entsprechend den gesetzlichen Vorgaben.
        </li><li>
            <strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen
            Vorgaben das Recht, die Vervollständigung der Sie betreffenden Daten
            oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.
        </li><li>
            <strong
                >Recht auf Löschung und Einschränkung der Verarbeitung:</strong
            > Sie haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen,
            dass Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ
            nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung
            der Daten zu verlangen.
        </li><li>
            <strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht,
            Sie betreffende Daten, die Sie uns bereitgestellt haben, nach Maßgabe
            der gesetzlichen Vorgaben in einem strukturierten, gängigen und maschinenlesbaren
            Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen
            zu fordern.
        </li><li>
            <strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet
            eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs
            das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in
            dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes
            oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind,
            dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen
            die Vorgaben der DSGVO verstößt.
        </li>
    </ul>

    <h2 id="m225">Bereitstellung des Onlineangebotes und Webhosting</h2><p>
        Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur
        Verfügung stellen zu können. Zu diesem Zweck verarbeiten wir die
        IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen
        unserer Online-Dienste an den Browser oder das Endgerät der Nutzer zu
        übermitteln.
    </p>
    <ul class="m-elements">
        <li>
            <strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte
            Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations-
            und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern,
            Einwilligungsstatus). Inhaltsdaten (z.B. Eingaben in Onlineformularen).
        </li><li>
            <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher,
            Nutzer von Onlinediensten).
        </li><li>
            <strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes
            und Nutzerfreundlichkeit. Informationstechnische Infrastruktur (Betrieb
            und Bereitstellung von Informationssystemen und technischen Geräten (Computer,
            Server etc.).).
        </li><li class="">
            <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs.
            1 S. 1 lit. f) DSGVO).
        </li>
    </ul><p>
        <strong
            >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong>
    </p><ul class="m-elements">
        <li>
            <strong>E-Mail-Versand und -Hosting:</strong>Die von uns in Anspruch
            genommenen Webhosting-Leistungen umfassen ebenfalls den Versand, den
            Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden
            die Adressen der Empfänger sowie Absender als auch weitere
            Informationen betreffend den E-Mailversand (z.B. die beteiligten
            Provider) sowie die Inhalte der jeweiligen E-Mails verarbeitet. Die
            vorgenannten Daten können ferner zu Zwecken der Erkennung von SPAM
            verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails im
            Internet grundsätzlich nicht verschlüsselt versendet werden. Im
            Regelfall werden E-Mails zwar auf dem Transportweg verschlüsselt,
            aber (sofern kein sogenanntes Ende-zu-Ende-Verschlüsselungsverfahren
            eingesetzt wird) nicht auf den Servern, von denen sie abgesendet und
            empfangen werden. Wir können daher für den Übertragungsweg der
            E-Mails zwischen dem Absender und dem Empfang auf unserem Server
            keine Verantwortung übernehmen; <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO).</span>
        </li><li>
            <strong>Content-Delivery-Network:</strong>Wir setzen ein
            "Content-Delivery-Network" (CDN) ein. Ein CDN ist ein Dienst, mit
            dessen Hilfe Inhalte eines Onlineangebotes, insbesondere große
            Mediendateien, wie Grafiken oder Programm-Skripte, mit Hilfe
            regional verteilter und über das Internet verbundener Server
            schneller und sicherer ausgeliefert werden können; <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO).</span>
        </li>
    </ul>
    <h2 id="m104">Blogs und Publikationsmedien</h2><p>
        Wir nutzen Blogs oder vergleichbare Mittel der Onlinekommunikation und
        Publikation (nachfolgend "Publikationsmedium"). Die Daten der Leser
        werden für die Zwecke des Publikationsmediums nur insoweit verarbeitet,
        als es für dessen Darstellung und die Kommunikation zwischen Autoren und
        Lesern oder aus Gründen der Sicherheit erforderlich ist. Im Übrigen
        verweisen wir auf die Informationen zur Verarbeitung der Besucher
        unseres Publikationsmediums im Rahmen dieser Datenschutzhinweise.
    </p>
    <ul class="m-elements">
        <li>
            <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen,
            Adressen); Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B.
            Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten,
            Interesse an Inhalten, Zugriffszeiten). Meta-, Kommunikations- und Verfahrensdaten
            (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
        </li><li>
            <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher,
            Nutzer von Onlinediensten).
        </li><li>
            <strong>Zwecke der Verarbeitung:</strong> Erbringung vertraglicher Leistungen
            und Erfüllung vertraglicher Pflichten; Feedback (z.B. Sammeln von Feedback
            via Online-Formular). Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
        </li><li class="">
            <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs.
            1 S. 1 lit. f) DSGVO).
        </li>
    </ul><p>
        <strong
            >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong>
    </p><ul class="m-elements">
        <li>
            <strong>Medium:</strong>Hostingplattform für Blogs / Websites; <strong
                >Dienstanbieter:</strong
            > A Medium Corporation, P.O. Box 602, San Francisco, CA 94104–0602, USA;
            <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO);
            </span><strong>Website:</strong>
            <a href="https://medium.com/" target="_blank">https://medium.com/</a
            >. <strong>Datenschutzerklärung:</strong>
            <a
                href="https://medium.com/policy/medium-privacy-policy-f03bf92035c9"
                target="_blank"
                >https://medium.com/policy/medium-privacy-policy-f03bf92035c9</a
            >.
        </li>
    </ul>
    <h2 id="m182">Kontakt- und Anfragenverwaltung</h2><p>
        Bei der Kontaktaufnahme mit uns (z.B. per Post, Kontaktformular, E-Mail,
        Telefon oder via soziale Medien) sowie im Rahmen bestehender Nutzer- und
        Geschäftsbeziehungen werden die Angaben der anfragenden Personen
        verarbeitet soweit dies zur Beantwortung der Kontaktanfragen und
        etwaiger angefragter Maßnahmen erforderlich ist.
    </p>
    <ul class="m-elements">
        <li>
            <strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail,
            Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten
            (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten). Meta-,
            Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
            Identifikationsnummern, Einwilligungsstatus).
        </li><li>
            <strong>Betroffene Personen:</strong> Kommunikationspartner.
        </li><li>
            <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation;
            Verwaltung und Beantwortung von Anfragen; Feedback (z.B. Sammeln von
            Feedback via Online-Formular). Bereitstellung unseres Onlineangebotes
            und Nutzerfreundlichkeit.
        </li><li class="">
            <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs.
            1 S. 1 lit. f) DSGVO).
        </li>
    </ul>
    <h2 id="m17">Newsletter und elektronische Benachrichtigungen</h2><p>
        Wir versenden Newsletter, E-Mails und weitere elektronische
        Benachrichtigungen (nachfolgend "Newsletter“) nur mit der Einwilligung
        der Empfänger oder einer gesetzlichen Erlaubnis. Sofern im Rahmen einer
        Anmeldung zum Newsletter dessen Inhalte konkret umschrieben werden, sind
        sie für die Einwilligung der Nutzer maßgeblich. Im Übrigen enthalten
        unsere Newsletter Informationen zu unseren Leistungen und uns.
    </p>
    <p>
        Um sich zu unseren Newslettern anzumelden, reicht es grundsätzlich aus,
        wenn Sie Ihre E-Mail-Adresse angeben. Wir können Sie jedoch bitten,
        einen Namen, zwecks persönlicher Ansprache im Newsletter, oder weitere
        Angaben, sofern diese für die Zwecke des Newsletters erforderlich sind,
        zu tätigen.
    </p>
    <p>
        <strong>Double-Opt-In-Verfahren:</strong> Die Anmeldung zu unserem Newsletter
        erfolgt grundsätzlich in einem sogenannten Double-Opt-In-Verfahren. D.h.,
        Sie erhalten nach der Anmeldung eine E-Mail, in der Sie um die Bestätigung
        Ihrer Anmeldung gebeten werden. Diese Bestätigung ist notwendig, damit sich
        niemand mit fremden E-Mail-Adressen anmelden kann. Die Anmeldungen zum Newsletter
        werden protokolliert, um den Anmeldeprozess entsprechend den rechtlichen
        Anforderungen nachweisen zu können. Hierzu gehört die Speicherung des Anmelde-
        und des Bestätigungszeitpunkts als auch der IP-Adresse. Ebenso werden die
        Änderungen Ihrer bei dem Versanddienstleister gespeicherten Daten protokolliert.
    </p>
    <p>
        <strong>Löschung und Einschränkung der Verarbeitung:</strong> Wir können
        die ausgetragenen E-Mail-Adressen bis zu drei Jahren auf Grundlage unserer
        berechtigten Interessen speichern, bevor wir sie löschen, um eine ehemals
        gegebene Einwilligung nachweisen zu können. Die Verarbeitung dieser Daten
        wird auf den Zweck einer möglichen Abwehr von Ansprüchen beschränkt. Ein
        individueller Löschungsantrag ist jederzeit möglich, sofern zugleich das
        ehemalige Bestehen einer Einwilligung bestätigt wird. Im Fall von Pflichten
        zur dauerhaften Beachtung von Widersprüchen behalten wir uns die Speicherung
        der E-Mail-Adresse alleine zu diesem Zweck in einer Sperrliste (sogenannte
        "Blocklist") vor.
    </p>
    <p>
        Die Protokollierung des Anmeldeverfahrens erfolgt auf Grundlage unserer
        berechtigten Interessen zu Zwecken des Nachweises seines ordnungsgemäßen
        Ablaufs. Soweit wir einen Dienstleister mit dem Versand von E-Mails
        beauftragen, erfolgt dies auf Grundlage unserer berechtigten Interessen
        an einem effizienten und sicheren Versandsystem.
    </p>
    <strong>Inhalte:</strong>
    <p>Informationen zu uns, unseren Leistungen, Aktionen und Angeboten.</p>
    <ul class="m-elements">
        <li>
            <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen,
            Adressen); Kontaktdaten (z.B. E-Mail, Telefonnummern); Meta-, Kommunikations-
            und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern,
            Einwilligungsstatus). Nutzungsdaten (z.B. besuchte Webseiten, Interesse
            an Inhalten, Zugriffszeiten).
        </li><li>
            <strong>Betroffene Personen:</strong> Kommunikationspartner.
        </li><li>
            <strong>Zwecke der Verarbeitung:</strong> Direktmarketing (z.B. per E-Mail
            oder postalisch).
        </li><li class="">
            <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit.
            a) DSGVO).
        </li><li>
            <strong>Widerspruchsmöglichkeit (Opt-Out):</strong>Sie können den
            Empfang unseres Newsletters jederzeit kündigen, d.h. Ihre
            Einwilligungen widerrufen, bzw. dem weiteren Empfang widersprechen.
            Einen Link zur Kündigung des Newsletters finden Sie entweder am Ende
            eines jeden Newsletters oder können sonst eine der oben angegebenen
            Kontaktmöglichkeiten, vorzugswürdig E-Mail, hierzu nutzen.
        </li>
    </ul><p>
        <strong
            >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong>
    </p><ul class="m-elements">
        <li>
            <strong>Messung von Öffnungs- und Klickraten:</strong>Die Newsletter
            enthalten einen sogenannte "web-beacon“, d.h., eine pixelgroße
            Datei, die beim Öffnen des Newsletters von unserem Server, bzw.,
            sofern wir einen Versanddienstleister einsetzen, von dessen Server
            abgerufen wird. Im Rahmen dieses Abrufs werden zunächst technische
            Informationen, wie Informationen zum Browser und Ihrem System, als
            auch Ihre IP-Adresse und der Zeitpunkt des Abrufs, erhoben. <br
            /><br />Diese Informationen werden zur technischen Verbesserung
            unseres Newsletters anhand der technischen Daten oder der
            Zielgruppen und ihres Leseverhaltens auf Basis ihrer Abruforte (die
            mit Hilfe der IP-Adresse bestimmbar sind) oder der Zugriffszeiten
            genutzt. Diese Analyse beinhaltet ebenfalls die Feststellung, ob die
            Newsletter geöffnet werden, wann sie geöffnet werden und welche
            Links geklickt werden. Diese Informationen werden den einzelnen
            Newsletterempfängern zugeordnet und in deren Profilen bis zu deren
            Löschung gespeichert. Die Auswertungen dienen uns dazu, die
            Lesegewohnheiten unserer Nutzer zu erkennen und unsere Inhalte an
            sie anzupassen oder unterschiedliche Inhalte entsprechend den
            Interessen unserer Nutzer zu versenden.<br /><br />Die Messung der
            Öffnungsraten und der Klickraten sowie Speicherung der
            Messergebnisse in den Profilen der Nutzer<span
                class="dsg-license-content-blurred de dsg-ttip-activate"
                title="Bitte geben Sie einen Lizenzschlüssel ein, um die Texte freizuschalten."
            >
                - Dieser Textbereich muss mit einer Premium Lizenz freischaltet
                werden. - premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext
            </span>;<br /><span class=""
                ><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S.
                1 lit. a) DSGVO).</span>
        </li>
    </ul>
    <h2 id="m638">
        Werbliche Kommunikation via E-Mail, Post, Fax oder Telefon
    </h2><p>
        Wir verarbeiten personenbezogene Daten zu Zwecken der werblichen
        Kommunikation, die über diverse Kanäle, wie z.B. E-Mail, Telefon, Post
        oder Fax, entsprechend den gesetzlichen Vorgaben erfolgen kann.
    </p>
    <p>
        Die Empfänger haben das Recht, erteilte Einwilligungen jederzeit zu
        widerrufen oder der werblichen Kommunikation jederzeit zu widersprechen.
    </p>
    <p>
        Nach Widerruf oder Widerspruch speichern wir die zum Nachweis der
        bisherigen Berechtigung erforderlichen Daten zur Kontaktaufnahme oder
        Zusendung bis zu drei Jahre nach Ablauf des Jahres des Widerrufs oder
        Widerspruchs auf der Grundlage unserer berechtigten Interessen. Die
        Verarbeitung dieser Daten ist auf den Zweck einer möglichen Abwehr von
        Ansprüchen beschränkt. Auf der Grundlage des berechtigten Interesses,
        den Widerruf bzw. Widerspruch der Nutzer dauerhaft zu beachten,
        speichern wir ferner die zur Vermeidung einer erneuten Kontaktaufnahme
        erforderlichen Daten (z.B. je nach Kommunikationskanal die
        E-Mail-Adresse, Telefonnummer, Name).
    </p>
    <ul class="m-elements">
        <li>
            <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen,
            Adressen). Kontaktdaten (z.B. E-Mail, Telefonnummern).
        </li><li>
            <strong>Betroffene Personen:</strong> Kommunikationspartner.
        </li><li>
            <strong>Zwecke der Verarbeitung:</strong> Direktmarketing (z.B. per E-Mail
            oder postalisch).
        </li><li class="">
            <strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit.
            a) DSGVO). Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
        </li>
    </ul>
    <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2><p>
        Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und
        verarbeiten in diesem Rahmen Daten der Nutzer, um mit den dort aktiven
        Nutzern zu kommunizieren oder um Informationen über uns anzubieten.
    </p>
    <p>
        Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes
        der Europäischen Union verarbeitet werden können. Hierdurch können sich
        für die Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte
        der Nutzer erschwert werden könnte.
    </p>
    <p>
        Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im
        Regelfall für Marktforschungs- und Werbezwecke verarbeitet. So können
        z.B. anhand des Nutzungsverhaltens und sich daraus ergebender Interessen
        der Nutzer Nutzungsprofile erstellt werden. Die Nutzungsprofile können
        wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb
        der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer
        entsprechen. Zu diesen Zwecken werden im Regelfall Cookies auf den
        Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die
        Interessen der Nutzer gespeichert werden. Ferner können in den
        Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten
        Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der
        jeweiligen Plattformen sind und bei diesen eingeloggt sind).
    </p>
    <p>
        Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und
        der Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die
        Datenschutzerklärungen und Angaben der Betreiber der jeweiligen
        Netzwerke.
    </p>
    <p>
        Auch im Fall von Auskunftsanfragen und der Geltendmachung von
        Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei
        den Anbietern geltend gemacht werden können. Nur die Anbieter haben
        jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende
        Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe
        benötigen, dann können Sie sich an uns wenden.
    </p>
    <ul class="m-elements">
        <li>
            <strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail,
            Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten
            (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten). Meta-,
            Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
            Identifikationsnummern, Einwilligungsstatus).
        </li><li>
            <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher,
            Nutzer von Onlinediensten).
        </li><li>
            <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation;
            Feedback (z.B. Sammeln von Feedback via Online-Formular). Marketing.
        </li><li class="">
            <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs.
            1 S. 1 lit. f) DSGVO).
        </li>
    </ul><p>
        <strong
            >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong>
    </p><ul class="m-elements">
        <li>
            <strong>Instagram:</strong>Soziales Netzwerk; <strong
                >Dienstanbieter:</strong
            > Meta Platforms Irland Limited, 4 Grand Canal Square, Grand Canal Harbour,
            Dublin 2, Irland; <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO);
            </span><strong>Website:</strong>
            <a href="https://www.instagram.com" target="_blank"
                >https://www.instagram.com</a
            >. <strong>Datenschutzerklärung:</strong>
            <a href="https://instagram.com/about/legal/privacy" target="_blank"
                >https://instagram.com/about/legal/privacy</a
            >.
        </li><li>
            <strong>LinkedIn:</strong>Soziales Netzwerk; <strong
                >Dienstanbieter:</strong
            > LinkedIn Irland Unlimited Company, Wilton Plaza Wilton Place, Dublin
            2, Irland; <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO);
            </span><strong>Website:</strong>
            <a href="https://www.linkedin.com" target="_blank"
                >https://www.linkedin.com</a
            >; <strong>Datenschutzerklärung:</strong>
            <a
                href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy</a
            >; <strong>Auftragsverarbeitungsvertrag:</strong>
            <a href="https://legal.linkedin.com/dpa" target="_blank"
                >https://legal.linkedin.com/dpa</a
            >; <strong>Grundlage Drittlandübermittlung:</strong>
            <span class=""> </span>Standardvertragsklauseln (<a
                href="https://legal.linkedin.com/dpa"
                target="_blank">https://legal.linkedin.com/dpa</a
            >). <strong>Widerspruchsmöglichkeit (Opt-Out):</strong>
            <a
                href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                target="_blank"
                >https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a
            >.
        </li><li>
            <strong>X:</strong>Soziales Netzwerk; <strong
                >Dienstanbieter:</strong
            > Twitter International Company, One Cumberland Place, Fenian Street,
            Dublin 2 D02 AX07, Irland; <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO).
            </span><strong>Datenschutzerklärung:</strong>
            <a href="https://twitter.com/privacy" target="_blank"
                >https://twitter.com/privacy</a
            >, (Settings: <a
                href="https://twitter.com/personalization"
                target="_blank">https://twitter.com/personalization</a
            >).
        </li><li>
            <strong>YouTube:</strong>Soziales Netzwerk und Videoplattform; <strong
                >Dienstanbieter:</strong
            > Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland;
            <span class=""
                ><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO);
            </span><strong>Datenschutzerklärung:</strong>
            <a href="https://policies.google.com/privacy" target="_blank"
                >https://policies.google.com/privacy</a
            >; <strong>Grundlage Drittlandübermittlung:</strong>
            <span class=""> EU-US Data Privacy Framework (DPF)</span>. <strong
                >Widerspruchsmöglichkeit (Opt-Out):</strong
            >
            <a
                href="https://adssettings.google.com/authenticated"
                target="_blank">https://adssettings.google.com/authenticated</a
            >.
        </li>
    </ul>
</Layout>
