---
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---
<BaseLayout title="Projects - Bryan Hogan" description="What I'm currently working on and past projects of mine.">
    <Hero h1="Projects" subtitle="My Projects"/>
    <h2 class="post-hero-h2 text-align-center">Active Projects</h2>
    <CardGrid>
        <Card title="Self-Track App" href="https://dailyselftrack.com/">
            <p>Building a customizable app for self-tracking, a user-friendly health log, diary and habit tracker.</p>
            <Icon name="book" label="book icon" size="1.5rem" slot="icon-row"/>
        </Card>
        <Card title="ToLearnKorean" href="https://tolearnkorean.com/">
            <p>Website on information to learn Korean.</p>
            <Icon name="lightbulb" label="lightbulb icon" size="1.5rem" slot="icon-row"/>
        </Card>
        <Card title="WebDev Guide" href="https://webdev.bryanhogan.com/">
            <p>Guide on building well designed performant web pages.</p>
            <Icon name="puzzle" label="puzzle icon" size="1.5rem" slot="icon-row"/>
        </Card>
        <Card title="Game ToLearnKorean" href="https://game.tolearnkorean.com/" >
            <p>Building gamified approach to learning new words fast.</p>
            <Icon name="megaphone" label="megaphone icon" size="1.5rem" slot="icon-row"/>
        </Card>
    </CardGrid>
    <h2 class="text-align-center margin-top-xl margin-bottom-m">Completed projects</h2>
    <CardGrid columnWidth="max-3 margin-bottom-xl">
        <Card title="Flow Timer" href="https://timer.bryanhogan.com/" >
            <p>Flow timer is a timer for time-boxing and getting tasks done without getting distracted.</p>
            <Icon name="timer" label="timer icon" size="1.5rem" slot="icon-row"/>
        </Card>
        <Card title="Astro Starter Template" href="https://github.com/BryanHogan/astro-starter-template" >
            <p>An starter template for Astro, contains the things every site needs.</p>
            <Icon name="magnifier" label="magnifier icon" size="1.5rem" slot="icon-row"/>
        </Card>
    </CardGrid>
</BaseLayout>

<style>
</style>