---
const { buttonStyle } = Astro.props;
const { link } = Astro.props;
const { text } = Astro.props;
// Color Styles: dark, bright, transparent-bright, transparent-bright-border
// Size Styles: large, small
// Animation Style: inset-dark-shadow, inset-bright-shadow, grow
// #### Optional Additional ####: color-accent
---

<a href={link} class={buttonStyle}>{text}</a>

<style>
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
  }
   {
    /* =========== Color Styles =========== */
  }
  .dark {
    color: var(--color-main-accent);
    background-color: var(--color-main-dark);
    border: 2px solid var(--color-main-accent);
  }
  .bright {
    color: var(--color-main-dark);
    background-color: var(--color-main-bright);
    box-shadow: var(--box-shadow-medium);
    text-shadow: var(--text-shadow);
  }
  .transparent-bright {
    color: var(--color-main-bright);
    box-shadow: var(--box-shadow-medium);
    text-shadow: var(--text-shadow);
  }
  .transparent-bright-border {
    color: var(--color-main-bright);
    border: 2px solid var(--color-main-bright);
    box-shadow: var(--box-shadow-medium);
    text-shadow: var(--text-shadow);
  }
   {
    /* =========== Size Styles =========== */
  }
  .small {
    font-size: 1rem;
    min-width: 100px;
    margin: 10px 10px;
    padding: 10px;
  }
  .large {
    font-size: 1.6rem;
    width: 200px;
    margin: 30px 40px;
    padding: 30px 30px;
  }
   {
    /* =========== Animation Style =========== */
  }
  .inset-dark-shadow {
    transition: all 200ms linear;
    box-shadow: var(--box-shadow-large),
      inset 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    text-shadow: var(--text-shadow);
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25),
        inset var(--box-shadow-large);
      text-shadow: var(--text-shadow-inset);
    }
  }
  .inset-bright-shadow {
    transition: all 200ms linear;
    box-shadow: 0px 4px 8px 0px var(--color-main-accent),
      inset 0px 0px 0px 0px var(--color-main-accent);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
      box-shadow: 0px 0px 0px 0px var(--color-main-accent),
        inset 0px 4px 8px 0px var(--color-main-accent);
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .grow {
    transition: transform 200ms linear;
    &:hover {
      opacity: 0.8;
      transition: transform 100ms linear;
      transform: scale(1.1) translate3d( 0, 0, 0) perspective(1px);
    }
  }
  {
    /* =========== Additional =========== */
  }
  .color-accent {
    color: var(--color-main-accent)
  }
</style>
