---
interface Props {
  title: string;
  ahref: string;
  icon: string;
  tag: string;
  length: string;
}
const { icon, title, tag, length } = Astro.props;
---

<a href="#" class="card-container">
  <div class="gradient-background gradient-area">
    <img src="/icons/Map-Pin-Icon.svg" />
    <div class="information-area">
      <div><img src="/icons/Map-Pin-Icon.svg" /><p>{tag}</p></div>
      <div><img src="/icons/Map-Pin-Icon.svg" /><p>{length}</p></div>
    </div>
  </div>
  <p>{title}</p>
</a>

<style>
  .card-container {
    color: var(--color-main-bright);
    text-decoration: none;
    & > P {
      margin-top: 20px;
      font-size: 1.4rem;
      max-width: 400px;
      padding-inline: 10px;
    }
  }
  .gradient-area {
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    & img {
      margin-inline: auto;
      margin-block: auto;
    }
    & .information-area {
      background-color: var(--color-main-dark-transparent);
      border-radius: 0px 0px 1em 1em;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & div {
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        & * {
          padding-inline: 5px;
        }
      }
    }
  }
</style>
