---
import { Icons } from "./Icons";

interface Props {
    title: string;
    text: string;
    href: string;
    buttonText: string;
}

const { title, text, href, buttonText } = Astro.props;
---

<div class="cardc-container">
    <div class="title-row">
        <h4>{title}</h4>
    </div>
    <p>{text}</p>
    <div>
        <div>
            <svg
                width="24"
                height="24"
                viewBox="0 0 26 26"
                fill="currentColor"
                set:html={Icons["rightarrow"]}
            />
            <a href={href} target={"_self"}>
                {buttonText}
            </a>
        </div>
    </div>
</div>

<style>
    .buttons-container {
        height: 100%;
    }
    svg {
        vertical-align: middle;
    }
    .cardc-container {
        padding-block: 1rem;
    }
    .title-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .date-time-text {
        padding-inline: 1rem;
        text-align: center;
    }
    h4 {
        font-size: 1em;
    }
</style>
