---
interface Props {
    href: string;
    size?: string;
    targetBlank?: boolean;
}
const {href, size = "6rem", targetBlank = true} = Astro.props;
---

<a href={href} target={targetBlank ? "_blank" : "_self"}><slot/></a>

<style define:vars={{ size }}>
    a {
        width: 100%;
        height: var(--size);
        border: 1px solid var(--border-color);
        background-color: var(--color-neutral-900);
        border-radius: var(--border-radius-s);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
            color: var(--color-accent-500);
        }
        &>:global(p) {
            padding-inline: var(--space-xs);
            text-align: center;
        }
    }
</style>