---
import { Image } from "astro:assets";
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<a href="">
    <p>hi?</p>
    <Image src={post.data.coverImage as ImageMetadata} alt={post.data.title + " cover image icon"}/>
    <h3>{post.data.title}</h3>
</a>
