---
import TextElementBorderTopOpen from "../layouts/TextElementBorderTopOpen.astro";
---

<section class="card">
  <TextElementBorderTopOpen headerText="Projects" additionalClasses="force-border">
    <p>
      Studying about Code & Design to be able to make our Start-Up ideas a
      reality, learn & directly use valuable skills instead of being stuck in
      useless theory. From helping people who take medicine regularly to
      building profitable SAAS products for restaurants that want to utilise
      Social Media with real-world interaction
    </p>
  </TextElementBorderTopOpen>
</section>

<style>

</style>