---
const moveTopAmount = 20 + "px";
import Button from "./Button.astro";
import TextElementBorderTopOpen from "../layouts/TextElementBorderTopOpen.astro";
---

<section class="common-section">
  <div class="text-section main-content text-align-justify">
    <h2 class="text-align-center">About Me</h2>
    <p>
      I am Bryan Hogan and currently working on completing my Bachelor of
      Science in the study Code & Context at TH Köln. Code & Context is an
      interdisciplinary course ranging from <strong class="strong-accent">Coding & Design to Entrepreneurship</strong>.
    </p>
    <p>
      Furthermore, I am currently involved in other projects and, through
      experiences, I improve my skills and abilities everyday.
    </p>
    <p>Currently living in Seoul.</p>
  </div>
  <aside class="side-content">
    <nav>
      <Button
        text="Projects"
        link="./#"
        buttonStyle="transparent-bright small grow color-accent"
      />
      <Button
        text="Skills"
        link="./#"
        buttonStyle="transparent-bright small grow color-accent"
      />
      <Button
        text="Contact"
        link="./#"
        buttonStyle="transparent-bright small grow color-accent"
      />
    </nav>
  </aside>
</section>
<style define:vars={{ moveTopAmount }}>
.text-section {
  margin-inline: auto;
}
  nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; 
  }
  @media only screen and (max-width: 699px) {
    nav {
      margin-top: var(--small-gap);
    }
  }
  @media only screen and (min-width: 699px) {
    section {
      gap: 1.6%;
    }
    .side-content {
      grid-column: 4 / 5;
      grid-row: 1;
      justify-self: center;
      margin-top: var(--moveTopAmount);
      height: calc(100% - var(--moveTopAmount));
      & nav {
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 15px 15px 15px 0px;
        height: 100%;
      }
    }
  }
</style>
