---
const moveTopAmount = 20 + "px";
import Button from "./Button.astro";
import TextElementBorderTopOpen from "./TextElementBorderTopOpen.astro";
---

<section class="common-section">
  <TextElementBorderTopOpen headerText="About Me">
    <p>
      I am Bryan Hogan and currently working on completing my Bachelor of
      Science in the study Code & Context at TH Köln. Code & Context is an
      interdisciplinary course ranging from Coding & Design to Entrepreneurship.
    </p>
    <p>
      Furthermore, I am currently involved in other projects and, through
      experiences, I improve my skills and abilities everyday.
    </p>
    <p>Currently living in Seoul.</p>
  </TextElementBorderTopOpen>
  <aside class="side-content">
    <nav>
      <Button
        text="Projects"
        link="./#"
        buttonStyle="transparent-bright small grow"
      />
      <Button
        text="Skills"
        link="./#"
        buttonStyle="transparent-bright small grow"
      />
      <Button
        text="Contact"
        link="./#"
        buttonStyle="transparent-bright small grow"
      />
    </nav>
  </aside>
</section>
<style define:vars={{ moveTopAmount }}>
  nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
  }
  @media only screen and (max-width: 699px) {
    nav {
      margin-top: var(--small-gap);
    }
  }
  @media only screen and (min-width: 699px) {
    section {
      gap: 1.6%;
    }
    .side-content {
      grid-column: 4 / 6;
      grid-row: 1;
      justify-self: center;
      margin-top: var(--moveTopAmount);
      height: calc(100% - var(--moveTopAmount));
      & nav {
        border: 1px solid var(--color-main-accent);
        box-shadow: var(--box-shadow-bright-small);
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 15px 15px 15px 0px;
        height: 100%;
      }
    }
  }
</style>
