---

---

<form
    action="https://buttondown.email/api/emails/embed-subscribe/BryanHogan"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/BryanHogan', 'popupwindow')"
    class={Astro.props.class}
>
    <label for="bd-email"></label>
    <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="Your email"
        class="email"
    />
    <input type="hidden" name="tag" value="blog" />
    <input type="submit" value="Subscribe" class="button" />
</form>

<style>
    .set-max-width {
        max-width: 350px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: min(100%, 350px);
        margin-inline: auto;
    }
    .email {
        background-color: var(--color-neutral-100);
        color: var(--color-neutral-800);
        border: 1px solid var(--color-neutral-600);
        border-radius: var(--border-radius-s);
        padding: 2px 4px;
        accent-color: var(--color-accent-500);
        width: 100%;
        margin-bottom: var(--space-s);
    }
    .button {
        background-color: var(--color-neutral-100);
        color: var(--color-neutral-800);
        border: 1px solid var(--color-neutral-600);
        border-radius: var(--border-radius-m);
        max-width: 50%;
        width: 100%;
        transition: color var(--transition-normal);
        padding-block: 4px;
        &:hover {
            color: var(--color-accent-500);
        }
    }
    .spaced {
        margin-top: var(--space-s);  
    }
    .compact {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
        * {
            margin: 0;
            padding: 0;
        }
        .email {
            width: 70%;
            border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
            padding: 4px;
        }
        .button {
            width: auto;
            border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
            background-color: var(--color-accent-500);
            padding: 4px var(--space-s);
            color: white;
            transition: background-color var(--transition-normal);
            &:hover {
                color: var(--color-neutral-100);
                background-color: var(--color-accent-800);
            }
        }
    }
    @media only screen and (max-width: 499px) {
        .compact {
            flex-direction: column;
            gap: var(--space-xs);
            .email {
                border-radius: var(--border-radius-s)
            }
            .button {
                border-radius: var(--border-radius-s)
            }
        }
    }
</style>