---
---

<div class="first-main-content-group">
  <div class="text-element-container">
    <h1>Hello, I'm<br />Bryan Hogan.</h1>
    <p>Enthusiast In Development, Design And More.</p>
  </div>
  <img src="../../bryan_large.png" style="height: auto; width: 270px" />
</div>

<style>
  .first-main-content-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-element-container {
    text-shadow: var(--text-shadow);
    & p {
      font-size: 2.3rem;
    }
  }
  img,
  picture {
    border: 2px solid var(--color-main-bright);
    box-shadow: var(--box-shadow-medium);
  }
  @media only screen and (max-width: 699px) {
    .text-element-container {
      width: 90%;
      border: 2px solid var(--color-side-accent);
      border-radius: 1em;
      padding-top: 3em;
      padding-bottom: 3em;
      & > * {
        margin-inline: 5%;
      }
      & p {
        padding-top: 1em;
      }
    }
    img,
    picture {
      border-radius: 1rem;
      margin-top: var(--small-gap);
    }
  }
  @media only screen and (min-width: 699px) {
    .first-main-content-group {
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
    img {
      margin: 3em;
      border-radius: 1rem;
      box-shadow: var(--box-shadow-medium);
    }
    h1 {
      margin: 40px 0px;
      padding: 0px 30px;
    }
    .text-element-container {
      max-width: 450px;
      p {
        border: 2px solid var(--color-side-accent);
        padding: 15px 30px;
        border-radius: 1rem;
        font-size: 1.8rem;
        box-shadow: var(--box-shadow-medium);
      }
    }
  }
</style>
