---
---

<footer>
  <div class="">
    <p>Site build from the ground up by me using</br>HTML & CSS with Astro & PostCSS.</p>
  </div>
  <div>
    <p class="text-align-center">© {String(new Date().getFullYear().toString())} Bryan Hogan</p>
  </div>
  <div>
    <span><a href="/">Home</a> </span>
    <span><a href="/blog">Blog</a> </span>
    <span><a href="/follow">Mailing-List</a> </span>
    <span><a href="/privacy">Privacy</a> </span>
    <span><a href="/portfolio">Portfolio</a></span>
  </div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5%;
    row-gap: 20%;
    padding-inline: 10%;
    padding-bottom: 40px;
    padding-top: 4em;
    text-align: center;
    min-height: 12svh;
  }
  footer p, footer a {
    color: var(--color-main-dark-30);
    font-size: 0.8rem;
    text-align: center;
  }
  span {
    padding-inline: 3px;
  }
  a:hover {
    color: var(--color-main-accent);
  }
</style>
