---
---

<footer>
  <div class="">
    <p>This website was fully built by me, Bryan Hogan.</p>
    <p>I used basic HTML and CSS with Astro and PostCSS.</p>
  </div>
  <div>
    <p class="text-align-center">© 2023 Bryan Hogan</p>
  </div>
  <div>
    <span><a href="/">Home</a> </span>
    <span><a href="/blog">Blog</a> </span>
    <span><a href="/mail">Mailing-List</a> </span>
    <span><a href="/privacy">Privacy</a> </span>
    <span><a href="/portfolio">Portfolio</a></span>
  </div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5%;
    row-gap: 20%;
    margin-inline: 10%;
    margin-bottom: 40px;
    margin-top: 4em;
  }
  footer p, footer a {
    color: var(--color-main-dark-30);
    font-size: 0.8rem;
  }
  a:hover {
    color: var(--color-main-accent);
  }
</style>
