---
---

<footer>
  <div class="text-align-justify">
    <p>This website was fully built by me, Bryan Hogan.</p>
    <p>I used basic HTML and CSS with Astro and PostCSS.</p>
  </div>
  <div>
    <p class="text-align-center">© 2023 Bryan Hogan</p>
  </div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 5%;
    margin-inline: 10%;
    margin-bottom: 40px;
  }
  footer * {
    color: var(--color-main-dark-30);
    font-size: 0.8rem;
  }
</style>
