---
---

<header>
  <nav>
    <ul class="header-container">
      <li>
        <ul class="container-priority-items">
          <li><a href="#"><img src="../" /></a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <img src="../icons/Menu-Icon.svg" />
        <ul class="container-dropdown-items">
          <li><a href="#">News</a></li>
          <li><a href="#"><img src="../Medium-Logo.svg"></a></li>
          <li><a href="#"><img src="../LinkedIn-Logo.svg"></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
