---
---

<header>
  <nav>
    <ul class="header-container">
      <li style="width: 100%;">
        <ul class="container-priority-items">
          <li>
            <a href="#"><img src="../logos/Bryan-Hogan-Light-Logo.svg" /></a>
          </li>
          <li class="last-item-left-side"><a href="#">Blog</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <img src="../icons/Menu-Icon.svg" class="menu-icon" />
        <ul class="container-dropdown-items">
          <li><a href="#">News</a></li>
          <li><a href="#"><img src="../Medium-Logo.svg" /></a></li>
          <li><a href="#"><img src="../LinkedIn-Logo.svg" /></a></li>
          <li><a href="#"><img src="../Instagram-Logo.svg" /></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    background-color: var(--color-main-dark);
    z-index: 4;
    width: 100%;
  }
  .header-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    & li {
    }
  }
  img {
    height: 20px;
    width: 100%;
    min-width: 30px;
  }
  .dropdown,
  .container-priority-items {
    height: 100%;
  }
  .container-dropdown-items,
  .container-priority-items,
  .dropdown {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .last-item-left-side {
    margin-right: auto;
  }
  .last-item-right-side {
    margin-left: auto;
  }
  .container-dropdown-items li,
  .container-priority-items li {
    padding: 5px 7px;
    & a {
    }
  }
  @media only screen and (min-width: 699px) {
    .menu-icon {
      display: none;
    }
  }
  @media only screen and (max-width: 699px) {
    .dropdown {
      margin-left: auto;
      z-index: 5;
      &:hover .container-dropdown-items {
        display: flex;
      }
      &:not(:hover) .container-dropdown-items {
        display: none;
        animation: fade-out 300ms 1 ease-out;
      }
    }
    .menu-icon {
      margin-right: 20px;
      padding-inline: 10px;
      max-width: 45px;
    }
    .container-dropdown-items {
      position: absolute;
      top: 30px;
      right: 0px;
      display: none;
      background-color: var(--color-main-dark);
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      border-radius: 0px 0px 0px 15px;
      transition: all 200ms ease-in-out;
      animation: fade-in 200ms 1;
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        width: 50px;
        border-bottom: 1px solid var(--color-main-bright);
      }
      & li:first-child {
        border-top: 1px solid var(--color-main-bright);
      }
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    25% {
    }
    75% {
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      display: flex;
    }
    25% {
    }
    75% {
      display: flex;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
</style>
