---
const heightHeader = "40px";
const marginIconToScreenBorder = "0px";
const paddingNavigationalItems = "8px 10px";
---

<nav>
  <ul class="header-container list">
    <li class="logo">
      <a href="#"
        ><img
          src="../../public/Bryan-Hogan-Turtle-Logo.svg"
          alt="Bryan Hogan's Logo"
        /></a
      >
    </li>
    <li class="dropdown list">
      <img src="../../Polygon.svg" alt="Dropdown Icon" class="dropdown-icon" />
      <ul class="dropdown-menu list">
        <li><a href="#">Blog</a></li>
        <li class="last-left-side-element"><a href="#">News</a></li>
        <li>
          <a href="#"><img src="../../Medium-Logo.svg" alt="Medium Logo" /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../../LinkedIn-Logo.svg" alt="LinkedIn Logo" /></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="../../Instagram-Logo.svg" alt="Instagram Logo" /></a
          >
        </li>
        <li>
          <a href="#"><img src="../../Twitch-Logo.svg" alt="Twitch Logo" /></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style
  define:vars={{
    heightHeader,
    marginIconToScreenBorder,
    paddingNavigationalItems,
  }}
>
  nav {
    width: 100%;
    height: var(--heightHeader);
  }
  .header-container {
    position: fixed;
    height: var(--heightHeader);
    max-height: var(--heightHeader);
    background-color: var(--color-main-dark);
    width: 100%;
  }
  .list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;

    & li a {
      padding: var(--paddingNavigationalItems);
      display: flex;
      align-items: center;
      transform: scale(1.05);
      color: var(--color-main-bright);
      transition: transform 800ms ease-in-out;
    }
    & a img {
      height: 18px;
      width: 18px;
      
    }
    & .logo a {
      margin-left: var(--marginIconToScreenBorder);
      width: min-content;
    }
    & a:hover {
      transform: scale(1.2);
      transition: transform 200ms ease-in-out;

      //filter: brightness(0) saturate(100%);
      //filter: invert(71%) sepia(12%) saturate(1466%) hue-rotate(211deg) brightness(300%) contrast(89%);
    }
    & .logo img {
      width: 25px;
      height: 25px;
    }
  }
  @keyframes test {
    0% {
      opacity: 0;
    }
    25% {
    }
    75% {
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes vanish {
    0% {
      opacity: 1;
      display: flex;
    }
    25% {
    }
    75% {
      display: flex;
    }
    100% {
      display: none;
      opacity: 0.1;
    }
  }
  @media only screen and (min-width: 636px) {
    .last-left-side-element {
      margin-right: auto;
    }
    .dropdown-icon {
      display: none;
    }
    .dropdown-menu {
      align-items: center;
      width: 100%;
    }
    .header-container .dropdown {
      width: 100%;
    }
  }
  @media only screen and (max-width: 636px) {
    .dropdown {
      &:hover .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-main-dark);
        padding-top: var(--heightHeader);
        z-index: 1;
        opacity: 1;
      }
      &:not(:hover) .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-main-dark);
        padding-top: var(--heightHeader);
        z-index: 1;
        opacity: 0;
        display: none;
        animation: vanish 2000ms 1;
        -webkit-animation: vanish 2000ms 1;
      }
    }
    .dropdown-menu {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 5px 10px;
      display: none;
      border-radius: 0px 0px 0px 15px;
      transition: all 200ms ease-in-out;
      animation: test 2000ms 1;
      -webkit-animation: test 2000ms 1;
      & li {
        border-bottom: 1px solid var(--color-main-bright);
        padding: 10px 20px;
        width: 100px;
        display: flex;
        justify-content: center;
      }
      & li:first-child {
        border-top: 1px solid var(--color-main-bright);
      }
      & li:last-child {
        border-bottom: 0px;
      }
      & li a img,
      & li a span {
        height: 25px;
        width: 25px;
      }
    }
    .dropdown-icon {
      z-index: 2;
      position: relative;
      cursor: pointer;
      margin-right: var(--marginIconToScreenBorder);
      padding: var(--paddingNavigationalItems);
    }
    .logo {
      margin-right: auto;
      width: 100%;
    }
  }
</style>
