---
import "../styles/main.css";

const svgStyle = "height: 25px";
---

<nav class="header-container">
  <ul class="menu-header">
    <li>
      <a href=""
        ><img
          src="../../public/BryanHoganTurtleLogo.png"
          style="height: 25px;"
        /></a
      >
    </li>
    <li class="dropdown">
      <img src="../../Polygon.svg" />
      <ul class="dropdown-menu">
        <li><a href=""><img src="../../Medium.svg" style={svgStyle} /></a></li>
        <li>
          <a href=""><img src="../../LinkedIn.svg" style={svgStyle} /></a>
        </li>
        <li>
          <a href=""><img src="../../Instagram.svg" style={svgStyle} /></a>
        </li>
        <li><a href=""><img src="../../Twitch.svg" style={svgStyle} /></a></li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  .header-container {
    width: 100%;
    height: 50px;
    border: 1px solid red;

    > ul {
      display: grid;
      height: 100%;
      place-items: center;
      list-style: none;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .dropdown {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
    > img {
      z-index: 2;
      position: relative;
      /* z-index is only is for elements which are positioned */
      cursor: pointer;
    }
    &:hover .dropdown-menu {
      display: flex;
      flex-direction: column;
      background-color: var(--color-main-dark);
      padding-top: 50px;
      position: absolute;
      top: -12px;
      right: 0px;
      z-index: 1;
    }
  }
  .dropdown-menu {
    list-style: none;
    display: none;
  }
</style>
