---
import "../styles/main.css";
---

<nav>
  <ul class="menu">
    <li class="logo">
      <img class="button" height="40px" src="./images/LogoBryanHoganD.svg" />
    </li>
    <li class="portfolio-button">
      <a class="button" href="/">Portfolio</a>
    </li>
    <li class="dropdown">
      <span class="dropdown-button" onclick="">More ▾</span>
      <ul class="dropdown-menu">
        <div class="styling-line"></div>
        <li>
          <a class="button" href="https://bryanhogan.me/" target="_blank"
            >Blog</a
          >
        </li>
        <li class="social contact">
          <a class="button" href="#contact-me">Contact</a>
        </li>
        <li class="social">
          <a
            class="button social-button"
            href="https://twitter.com/BryanBlueBird"
            target="_blank"
          >
            <img
              src="./images/icons8-twitter.svg"
              class="header-svg"
              height="30px"
              alt="Twitter"
            />
          </a>
        </li>
        <li class="social">
          <a
            class="button social-button"
            href="https://www.linkedin.com/in/bryan-hogan-823242218/"
            target="_blank"
          >
            <img
              src="./images/icons8-linkedin-circled.svg"
              class="header-svg"
              height="24px"
              alt="LinkedIn"
            />
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  .menu-container {
    width: 100%;
    background-color: var(--color-1);
    position: relative;
    position: fixed;
    z-index: 2;
  }

  .menu {
    display: flex;
    list-style-type: none;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .menu:first-child > li {
    flex-grow: 1;
    flex-basis: 0;
  }

  .menu:last-child > li {
    flex-grow: 1;
    flex-basis: 0;
  }

  .menu .portfolio-button {
    text-align: center;
  }

  .button,
  .dropdown-button {
    background-color: var(--color-1);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0px 15px;
    color: var(--color-4);
    text-decoration: none;
    font-size: 0.7em;
  }

  .header-svg {
    filter: invert(100%) sepia(31%) saturate(582%) hue-rotate(177deg)
      brightness(101%) contrast(94%);
  }

  .button:link,
  .button:visited {
    color: var(--color-4);
  }
  @media only screen and (min-width: 636px) {
    .dropdown-button {
      display: none;
    }

    .dropdown-menu {
      display: flex;
      flex: row;
      list-style-type: none;
    }

    .menu-container {
      padding: 0px 0px;
    }

    .menu {
      display: inline;
    }

    .menu .portfolio-button {
      float: left;
    }

    .menu li img,
    .menu li a {
      float: left;
      margin: 5px 10px;
    }

    .menu .button {
      height: 30px;
      display: flex;
      align-items: center;
    }

    .contact {
      margin-left: auto;
      float: right;
    }

    .social-button img {
      height: 20px;
    }

    .starting-hero {
      flex-direction: row;
    }

    .hero-description {
      border-radius: 45px;
      background-color: hwb(131 81% 5% / 0.2);
    }

    .starting-hero img {
      margin: auto 10% auto 10%;
      width: auto;
      height: 450px;
    }
  }
  @media only screen and (max-width: 636px) {
    .button,
    .dropdown-button {
      font-size: 1.4em;
      white-space: nowrap;
    }

    .dropdown {
      position: relative;
      text-align: end;
    }

    .dropdown > span {
      z-index: 2;
      position: relative;
      /* z-index is only is for elements which are positioned */
      cursor: pointer;
    }

    .dropdown-menu {
      display: none;
    }

    .dropdown:hover .dropdown-menu {
      display: flex;
      flex-direction: column;
      background-color: var(--color-1);
      padding-top: 50px;
      position: absolute;
      top: -12px;
      right: 0px;
      z-index: 1;
    }

    .dropdown-menu li {
      list-style: none;
      border-bottom: 1px solid var(--color-4);
      padding: 10px 5px;
      margin: 10px 10px;
      text-align: center;
      justify-self: center;
    }

    .dropdown-menu li:first-of-type {
      padding-top: 15px;
    }

    .styling-line {
      border-bottom: 1px solid var(--color-4);
      padding: 0px 0px 0px 0px;
    }

    .dropdown-menu li .social-button {
      align-self: center;
      padding-top: 20px;
      width: 30px;
    }
  }
</style>
