---
interface Props {
    overline: string;
    heading: string;
    height?: string;
}
const { overline, heading, height="20svh" } = Astro.props;
---

<div class="hero full-width">
    <h1 class="text-align-center">{heading}</h1>
    <p class="hero-title text-align-center">{overline}</p>
    <slot />
</div>

<style define:vars={{ height }}>
    .hero {
        background-color: var(--color-accent-500);
        background-image: var(--color-gradient);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: var(--height);
        padding-block: var(--space-l);
        padding-inline: var(--side-gap-padding);
        gap: var(--space-s);
        & :global(p), h1 {
            color: var(--color-neutral-50);
            text-shadow: var(--text-shadow-m);
        }
        h1 {
            font-size: 1rem;
            font-weight: var(--font-weight-regular);
            line-height: var(--font-line-height);
            text-wrap: pretty;
        }
        .hero-title {
            order: -1;
            font-size: var(--text-size-4xl);
            font-weight: var(--font-weight-bold);
            line-height: var(--font-line-height-heading);
            text-wrap: balance;
            @media (min-width: 48rem) {
                font-size: var(--text-size-5xl);
            }
        }
    }
</style>
