---
import { Icons } from "./Icons";

const { title, href } = Astro.props;
---

<a href={href}>
    <div>
        <p>
            {title}
            <svg
                width="24"
                height="24"
                viewBox="0 0 26 26"
                fill="currentColor"
                set:html={Icons["rightarrow"]}
            />
        </p>
    </div>
</a>

<style>
    a {
        width: 100%;
        height: fit-content;
        padding: 1rem;
        border: 1px solid var(--color-main-bright);
        border-radius: 2px 2px 15px 15px;
        color: var(--color-main-bright);
        text-decoration: none;
    }
    a:hover {
        background-color: var(--color-main-dark-brighter);
    }
    svg {
        vertical-align: middle;
        float: right;
        margin-top: 4px;
    }
</style>
