---
const moveTopAmount = 20 + "px";
import Button from "./Button.astro";
---

<section class="">
  <hgroup class="text-section">
    <h2 class="text-align-center">About Me</h2>
    <div class="text-section text-align-justify">
      <p>
        I am Bryan Hogan and currently working on completing my Bachelor of
        Science in the study Code & Context at TH Köln. Code & Context is an
        interdisciplinary course ranging from Coding & Design to
        Entrepreneurship.
      </p>
      <p>
        Furthermore, I am currently involved in other projects and, through
        experiences, I improve my skills and abilities everyday.
      </p>
      <p>Currently living in Seoul.</p>
    </div>
  </hgroup>
  <aside>
    <nav>
      <Button
        text="Projects"
        link="./#"
        buttonStyle="transparent-bright small grow"
      />
      <Button
        text="Skills"
        link="./#"
        buttonStyle="transparent-bright small grow"
      />
      <Button
        text="Contact"
        link="./#"
        buttonStyle="transparent-bright small grow"
      />
    </nav>
  </aside>
</section>
<style define:vars={{ moveTopAmount }}>
  section {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }
  hgroup {
    grid-column: 2 / 3;
  }
  aside {
    grid-column: 2 / 3;
    margin-top: var(--small-gap);
  }
  nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 699px) {
    section {
      grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
      gap: 1.6%;
    }
    hgroup {
      grid-column: 3 / 4;
      grid-row: 1;
      margin-inline: auto;
      border: 1px solid var(--color-main-accent);
      border-radius: 15px 15px 0px 15px;
      padding: 0px 50px 50px 50px;
      margin-top: var(--moveTopAmount);
      box-shadow: var(--box-shadow-bright-small);
    }
    aside {
      grid-column: 4 / 6;
      grid-row: 1;
      justify-self: center;
      margin-top: var(--moveTopAmount);
      height: calc(100% - var(--moveTopAmount));
      & nav {
        border: 1px solid var(--color-main-accent);
        box-shadow: var(--box-shadow-bright-small);
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 15px 15px 15px 0px;
        height: 100%;
      }
    }
    h2 {
      position: relative;
      bottom: var(--moveTopAmount);
      background-color: var(--color-main-dark);
      width: 80%;
      margin-inline: auto;
      padding-inline: 10px;
    }
  }
</style>
