---
import Button from "./Button.astro";
---

<section class="intro-section-container">
  <h2 class="text-align-center accent-underline-adjust-width" id="about">
    About Me
  </h2>
  <div class="text-section text-align-justify text-standard-width">
    <p>
      I am Bryan Hogan and currently working on completing my Bachelor of
      Science in the study Code & Context at TH Köln. Code & Context is an
      interdisciplinary course ranging from Coding & Design to Entrepreneurship.
    </p>
    <p>
      You can find me actively involved in the fields of development, design, media,
      marketing, and management. My expertise lies in crafting quick,
      user-friendly, and accessible websites. Creating strong brands through the
      strategic management of social media profiles for long-term growth.
    </p>
    <p>Currently living in Seoul.</p>
  </div>
  <aside>
    <nav>
      <Button
        text="Projects"
        link="#projects"
        buttonStyle="transparent-bright small grow color-accent"
      />
      <Button
        text="Skills"
        link="#skills"
        buttonStyle="transparent-bright small grow color-accent"
      />
      <Button
        text="Contact"
        link="#contact"
        buttonStyle="transparent-bright small grow color-accent"
      />
    </nav>
  </aside>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr minmax(0, 650px) 1fr;
    gap: 3%;
    & h2 {
      grid-column: 1 /4;
    }
    & div {
      grid-column: 2 /3;
      margin-inline: 20px;
    }
    & aside {
      grid-column: 2 / 3;
      grid-row: 3;
    }
  }
  section aside {
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media only screen and (min-width: 999px) {
    section {
      grid-template-columns: minmax(100px, 1fr) minmax(0, 650px) minmax(
          100px,
          1fr
        );
      & div {
        margin-inline: 0px;
      }
    }
    nav {
      flex-direction: column;
      width: fit-content;
    }
    section aside {
      grid-row: 2;
      grid-column: 3 / 4;
    }
  }
</style>
