---
---

<div class="hero-container">
  <slot />
</div>

<style>
  .hero-container {
    width: 100%;
    min-height: 550px;
    background-color: #767fd1;
    background-image: linear-gradient(
      140deg,
      #af81cd,
      #767fd1,
      #8fb8cd,
      #32ccdf
    );
  }
</style>
