---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-main-dark: #202124;
    --color-main-dark-brighter: #414141;
    /* main 60 */
    --color-main-bright: #e8ecf0;
    /* sub 30 */
    --color-main-accent: #A594D3;
    --color-main-accent-darker: #ffffff;
    /* sub 10 */

    --section-spacing: 6rem;
    --border-radius-standard: 1em;
  }

  /* Table Of Contents
    1 - Global Styles
    2 - Typography
    3 - Layout
        3.1 - Standard Flex
        3.2 - Standard Grid
        3.3
    4 - Buttons
    5 - Hero

*/
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
  }

  body {
    color: var(--color-main-bright);
    background-color: var(--color-main-dark);
    font-size: 1rem;
    min-width: 280px;
  }

  /*  ====================
    2 - Typography
    ==================== */
  h1,
  h2,
  h3 {
    padding: 1rem;
  }
  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .text-align-center {
    text-align: center;
  }
  .standard-text {
    max-width: 650px;
    text-align: justify;
    width: 60%;
  }
  /*  ====================
    3 - Buttons
    ==================== */
    

</style>
