---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-main-dark: #202124;
    --color-main-dark-brighter: #23262d;

    --color-main-bright: #e8ecf0;

    --color-main-accent: #8fb8cd;
    --color-side-accent: #a594d3;

    --shadow-black: rgba(0, 0, 0, 0.25);
    --box-shadow-large: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    --box-shadow-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --text-shadow-inset: 0px 2px 4px rgba(0, 0, 0, 0.25);

    --shadow-bright: var(--color-main-accent);
    --box-shadow-bright-medium: 0px 4px 8px 0px var(--shadow-bright);
    --box-shadow-bright-small: 0px 2px 4px 0px var(--shadow-bright);

    --section-spacing: 6rem;
    --border-radius-standard: 1em;

    --section-padding: 4em;

    --text-standard-width: 650px;

    --small-gap: 2em;
    --medium-gap: 4em;
    --large-gap: 8em;
  }

   {
    /* Table Of Contents
    0 - CSS Reset
    1 - Global Styles
    2 - Layout
    3 - Typography
    4 - Utilty
*/
  }
  *,
  *::before,
  *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
  }
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }
  body {
    color: var(--color-main-bright);
    background-color: var(--color-main-dark);
    font-size: 1rem;
    min-width: 280px;
  }

   {
    /*  ====================
      2 - Layout
    ==================== */
  }

  section {
    padding: var(--section-padding) 0;
  }
  .common-section {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    & .main-content {
      grid-column: 2 / 3;
    }
    & .side-content {
      grid-column: 2 / 3;
    }
  }
  @media only screen and (min-width: 699px) {
    .common-section {
      grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
    }
    & .main-content {
      grid-column: 3 / 4;
    }
    & .side-content {
      grid-column: 4 / 6;
    }
  }

   {
    /*  ====================
      3 - Typography (700, 400)
    ==================== */
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }
  @media only screen and (max-width: 699px) {
    h3 {
      font-size: 1.8rem;
    }
  }
  p {
    font-weight: 400;
  }
  .strong-accent {
    color: var(--color-main-accent);
    font-weight: normal;
  }

  .text-standard-width {
    max-width: 650px;
  }
  .text-align-justify {
    text-align: justify;
  }
  .text-align-center {
    text-align: center;
  }
   {
    /*  ====================
    4 - Utility
    ==================== */
  }

  .text-section {
    & > *:not(:first-child) {
      margin-block-start: 1.5em;
    }
    & > p {
      max-width: 650px;
    }
  }
</style>
