---
import BaseLayout from "./BaseLayout.astro";
import "../styles/markdown.css";


const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <div class="hero full-width">
        <h1 class="text-align-center margin-bottom-s">{frontmatter.title}</h1>
        <p class="text-align-center">{frontmatter.description}</p>
    </div>
    <div class="markdown-container margin-top-xl">
        <slot />
    </div>
</BaseLayout>

<style>
    .hero {
        background-color: var(--color-accent-500);
        background-image: var(--color-gradient);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 20svh;
        padding-block: var(--space-l);
        p, h1 {
            color: var(--color-neutral-50);
            text-shadow: var(--text-shadow-m);
        }
    }
</style>