---
/*
<TextSectionWithSide>
    <h2
        class="text-align-center accent-underline-adjust-width"
        id="about"
        slot="h2-title"
    >
        About Me
    </h2>
    <p>I am Bryan Hogan.</p>
    <p>You can find me.</p>
    <nav slot="aside-content">
        <Button
            text="Projects"
            link="#projects"
            buttonStyle="transparent-bright small grow color-accent"
        />
    </nav>
</TextSectionWithSide>
*/
---

<section>
    <div class="title"><slot name="h2-title" /></div>
    <div class="text-section text-standard-width">
        <slot />
    </div>
    <aside>
        <slot name="aside-content" />
    </aside>
</section>

<style>
    section {
        display: grid;
        grid-template-columns: 1fr minmax(0, 650px) 1fr;
        gap: 3%;
        & .title {
            grid-column: 1 / 4;
            max-width: 90%;
            margin-inline: auto;
        }
        & .text-section {
            grid-column: 2 /3;
            margin-inline: 20px;
        }
        & aside {
            grid-column: 2 / 3;
            grid-row: 3;
            margin-bottom: auto;
        }
    }
    section :global(nav) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media only screen and (min-width: 999px) {
        section {
            grid-template-columns: minmax(100px, 1fr) minmax(0, 650px) minmax(
                    100px,
                    1fr
                );
            & div {
                margin-inline: 0px;
            }
        }
        section :global(nav) {
            flex-direction: column;
            width: fit-content;
        }
        section aside {
            grid-row: 2;
            grid-column: 3 / 4;
        }
    }
</style>
