---
const { headerText, additionalClasses } = Astro.props;
const moveTopAmount = 20 + "px";
---

<hgroup class={" text-section main-content " + additionalClasses}>
  <h2 class="text-align-center">{headerText}</h2>
  <div class="text-section text-align-justify description-text">
    <slot />
  </div>
</hgroup>

<style define:vars={{ moveTopAmount }}>
  .forced-medium-height {
    height: 400px;
  }
  .force-border {
    margin-inline: auto;
    border: 1px solid var(--color-main-accent);
    border-radius: 15px 15px 0px 15px;
    padding: 0px 20px 40px 20px;
    margin-top: var(--moveTopAmount);
    box-shadow: var(--box-shadow-bright-small);
    width: fit-content;
    & h2 {
      position: relative;
      bottom: var(--moveTopAmount);
      background-color: var(--color-main-dark);
      width: 80%;
      margin-inline: auto;
      padding-inline: 10px;
    }
    & .description-text {
      position: relative;
      bottom: var(--moveTopAmount);
    }
  }

  @media only screen and (min-width: 699px) {
    .main-content {
      margin-inline: auto;
      border: 1px solid var(--color-main-accent);
      border-radius: 15px 15px 0px 15px;
      padding: 0px 50px 10px 50px;
      margin-top: var(--moveTopAmount);
      box-shadow: var(--box-shadow-bright-small);
      width: fit-content;
    }
    h2 {
      position: relative;
      bottom: var(--moveTopAmount);
      background-color: var(--color-main-dark);
      width: 80%;
      margin-inline: auto;
      padding-inline: 10px;
    }
    .description-text {
      position: relative;
      bottom: var(--moveTopAmount);
    }
  }
</style>
